#!/bin/bash

export PATH=$PATH:/usr/local/bin

secret_data=$(aws secretsmanager get-secret-value --secret-id "{{ misload_secret_name }}" --query SecretString --output text)
target=$(echo $secret_data | jq -r .target)
username=$(echo $secret_data | jq -r .username)
password=$(echo $secret_data | jq -r .password)

{{ ansible_python_interpreter }} /usr/local/share/winrm_connection_check.py -u "$username" -p "$password" -t "$target"
