adminUser = '{{ weblogic_admin_username }}'
adminPassword = '{{ weblogic_admin_password }}'
adminURL = 't3://{{ weblogic_domain_hostname }}:{{ weblogic_admin_listen_port | default(7001) }}'

servers = {
{% for server in weblogic_domain_servers %}
    '{{ server.name }}': '{{ (server.jvm_args | default(weblogic_common_jvm_args)) | join(" ") }}',
{% endfor %}
{% for app in ['WLS_AUTOLOGOFF', 'WLS_HOTPAGE', 'WLS_TAGSAR'] %}
    '{{ app }}': '{{ weblogic_common_jvm_args | join(" ") }}',
{% endfor %}
}

changed = False

connect(adminUser, adminPassword, adminURL)

edit()
startEdit()

for serverName, requiredArgs in servers.items():
    server = getMBean('/Servers/' + serverName)
    if server is None:
        print('Server ' + serverName + ' does not exist. Skipping.')
        continue

    cd('/Servers/' + serverName)

    overload = getMBean('/Servers/' + serverName + '/OverloadProtection/' + serverName)
    if overload is not None:
        cd('/Servers/' + serverName + '/OverloadProtection/' + serverName)

        if cmo.getPanicAction() != 'no-action':
            print('Setting panicAction=no-action for ' + serverName)
            cmo.setPanicAction('no-action')
            changed = True

        if cmo.getFailureAction() != 'no-action':
            print('Setting failureAction=no-action for ' + serverName)
            cmo.setFailureAction('no-action')
            changed = True

    cd('/Servers/' + serverName)
    serverStart = getMBean('/Servers/' + serverName + '/ServerStart/' + serverName)
    if serverStart is None:
        create(serverName, 'ServerStart')

    cd('/Servers/' + serverName + '/ServerStart/' + serverName)
    currentArgs = cmo.getArguments()
    if currentArgs is None:
        currentArgs = ''

    mergedArgs = currentArgs
    for arg in requiredArgs.split():
        if arg not in mergedArgs.split():
            mergedArgs = (mergedArgs + ' ' + arg).strip()

    if mergedArgs != currentArgs:
        print('Updating JVM arguments for ' + serverName + ': ' + mergedArgs)
        cmo.setArguments(mergedArgs)
        changed = True

if changed:
    save()
    activate()
    print('CHANGED')
else:
    cancelEdit('y')
    print('No changes required')

disconnect()
exit()