/u01/app/oracle/Middleware/oracle_common/common/bin/wlst.sh <<EOF
adminURL = 't3://{{ weblogic_domain_hostname }}:{{ weblogic_admin_listen_port | default(7001) }}'
connect(userConfigFile='/u01/tmp/wlst.userconfig', userKeyFile='/u01/tmp/wlst.userkey', url=adminURL)
createReportsToolsInstance(instanceName='{{ tools_instance_name }}',machine='{{ machine_name }}')
createReportsServerInstance(instanceName='{{ server_name }}',machine='{{ machine_name }}')
exit()
EOF
