/u01/app/oracle/Middleware/oracle_common/common/bin/wlst.sh <<EOF
connect("{{ weblogic_admin_username }}","{{ weblogic_admin_password }}","localhost:7001")
storeUserConfig(
  '/u01/tmp/wlst.userconfig',
  '/u01/tmp/wlst.userkey'
)
exit()
EOF
