# This WLST script creates the user configuration and key files for use with AdminServer and Node Manager connections.
# E.g. connect(userConfigFile='/u01/tmp/wlst.userconfig', userKeyFile='/u01/tmp/wlst.userkey', url='t3://{{ weblogic_domain_hostname }}:{{ weblogic_admin_listen_port | default(7001) }}')
# E.g. nmConnect(userConfigFile='/u01/tmp/wlst.userconfig',
#userKeyFile='/u01/tmp/wlst.userkey',
#host='{{ weblogic_domain_hostname }}',
#port='{{ weblogic_nm_port | default(5556) }}',
#domainName='{{ weblogic_domain_name }}',
#domainDir='/u01/app/oracle/Middleware/user_projects/domains/{{ weblogic_domain_name }}',
#nmType='ssl')

/u01/app/oracle/Middleware/oracle_common/common/bin/wlst.sh <<EOF
connect("{{ weblogic_admin_username }}","{{ weblogic_admin_password }}","{{ weblogic_domain_hostname }}:{{ weblogic_admin_listen_port | default(7001) }}")
storeUserConfig(
  '/u01/tmp/wlst.userconfig',
  '/u01/tmp/wlst.userkey'
)
exit()
EOF
