adminURL = 't3://{{ weblogic_domain_hostname }}:{{ weblogic_admin_listen_port | default(7001) }}'

servers = [
    '{{ weblogic_admin_server_name }}',
    'WLS_FORMS',
    'WLS_REPORTS',
    'WLS_AUTOLOGOFF',
    'WLS_HOTPAGE',
    'WLS_TAGSAR'
]

connect(userConfigFile='/u01/tmp/wlst.userconfig', userKeyFile='/u01/tmp/wlst.userkey', url=adminURL)

edit()
startEdit()

for serverName in servers:
    print('Configuring overload protection for ' + serverName)

    cd('/Servers/' + serverName)

    try:
        create(serverName, 'OverloadProtection')
    except:
        pass

    cd('/Servers/' + serverName + '/OverloadProtection/' + serverName)
    set('PanicAction', 'no-action')
    set('FailureAction', 'no-action')

save()
activate(block='true')

disconnect()
exit()