---
- name: Install packages
  ansible.builtin.package:
    name: "{{ item }}"
    state: present
  loop:
    - autofs
    - cifs-utils
    - nfs-utils

- name: Create mount point
  ansible.builtin.file:
    path: "{{ item.dir }}"
    state: "directory"
    owner: "{{ item.uid | default(omit) }}"
    group: "{{ item.gid | default(omit) }}"
  loop_control:
    label: "{{ item.dir }}"
  loop: "{{ filesystems_mount }}"

- name: Mount filesystem
  ansible.posix.mount:
    fstype: "{{ item.fstype }}"
    opts: "{{ item.opts | default('defaults,nofail') }}"
    path: "{{ item.dir }}"
    src: "{{ item.src }}"
    state: "{{ item.state | default('mounted') }}"
  loop_control:
    label: "{{ item.dir }}"
  loop: "{{ filesystems_mount }}"

- name: Configure autofs master
  ansible.builtin.lineinfile:
    create: true
    line: "/- /etc/auto.cifs"
    path: /etc/auto.master
    state: present
  loop_control:
    label: "{{ item.dir }}"
  loop: "{{ filesystems_mount }}"
  when: item.dir == '/NART'

- name: Configure auto cifs file
  ansible.builtin.lineinfile:
    create: true
    line: "{{ item.dir }} -fstype={{ item.fstype }},rw,{{ item.opts }} :{{ item.src }}"
    path: /etc/auto.cifs
    state: present
  loop_control:
    label: "{{ item.dir }}"
  loop: "{{ filesystems_mount }}"
  when: item.dir == '/NART'

- name: Ensure autofs Service is enabled and started
  ansible.builtin.systemd:
    name: autofs
    state: started
    enabled: yes

- name: Reload autofs
  ansible.builtin.systemd:
    name: autofs
    state: reloaded

- name: Setup monitoring keepalive cron
  ansible.builtin.cron:
    name: "filesystem monitoring {{ item.metric_dimension }}"
    user: root
    minute: "*/5"
    job: "/usr/local/bin/filesystem_keepalive.sh '{{ item.src }}' '{{ item.metric_dimension }}' '{{ item.maintenance_window }}' 2>&1 | logger -p local3.info -t filesystem_keepalive.sh"
    state: "{{ item.state | default('present') }}"
  when: item.metric_dimension is defined and item.metric_dimension|length > 0
  loop_control:
    label: "{{ item.dir }}"
  loop: "{{ filesystems_mount }}"