#!/bin/bash

export ORACLE_SID=$1
export PARAMETER_NAME=$2
export PARAMETER_VALUE=$3
export SCOPE=$4 
export PATH=$PATH:/usr/local/bin;

. oraenv <<< ${ORACLE_SID}

export HIDDEN_PARAMETER=`echo $PARAMETER_NAME | cut -c1`
if [ ${HIDDEN_PARAMETER} == "_" ]  || [ ${HIDDEN_PARAMETER} == "'" ]
then
    COMMAND="ALTER SYSTEM SET \"${PARAMETER_NAME}\" = ${PARAMETER_VALUE} scope=${SCOPE};"
else
    COMMAND="ALTER SYSTEM SET ${PARAMETER_NAME}=${PARAMETER_VALUE} scope=${SCOPE};"
fi
echo $COMMAND
sqlplus -s /  as sysdba << EOF
SET LINES 1000
SET PAGES 0
SET FEEDBACK ON
SET HEADING OFF
WHENEVER SQLERROR EXIT FAILURE
${COMMAND}
EXIT
EOF