db.hostname={{ db_hostname }}
db.password={{ apex_user_password }} 
db.port={{ db_port }}
db.servicename= {{ db_servicename }}
db.username=APEX_PUBLIC_USER
plsql.gateway.add=true
rest.services.apex.add=true
rest.services.ords.add=true
schema.tablespace.default=SYSAUX
schema.tablespace.temp=TEMP
standalone.http.port=8080
standalone.static.images=/u01/app/apache/tomcat/config
sys.password={{ db_sys_password }}
sys.user=SYS
user.apex.listener.password={{ apex_listener_password }}
user.apex.restpublic.password={{ apex_restapi_password }}
user.public.password={{ ords_public_user_password }}
user.tablespace.default=SYSAUX
user.tablespace.temp=TEMP