db.hostname={{ ec2.tags['oracle-db-hostname'] }}
db.servicename={{ ec2.tags['oracle-db-sid'] }}
db.username=APEX_PUBLIC_USER
db.password="{{ database_apex_public_user_password }}"
db.port=1521
migrate.apex.rest=false
plsql.gateway.add=true
rest.services.apex.add=true
rest.services.ords.add=true
schema.tablespace.default=SYSAUX
schema.tablespace.temp=TEMP
standalone.mode=TRUE
standalone.http.port=8080
#standalone.use.https=false
standalone.static.images=/u01/app/apache/tomcat/latest/webapps/i
sys.user=sys
sys.password="{{ database_sys_password }}"
user.apex.listener.password="{{ database_apex_listener_password }}"
user.apex.restpublic.password="{{ database_apex_rest_public_password }}"
user.public.password="{{ database_apex_rest_public_password }}"
user.tablespace.default=SYSAUX
user.tablespace.temp=TEMP
