[Unit]
Description=Tomcat Service
After=syslog.target network.target

[Service]
Type=forking
ExecStart=/usr/local/bin/tomcat_startup_service.sh
ExecStop=/usr/local/bin/tomcat_shutdown_service.sh
User=oracle
Group=oinstall
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
