## Managed by Ansible:
## ansible-monorepo: 
##   role: {{ role_name }}

[Unit]
Description=Tomcat Service
After=syslog.target network.target

[Service]
Type=forking
ExecStart=/home/oracle/admin/scripts/tomcat_startup_service.sh
ExecStop=/home/oracle/admin/scripts/tomcat_shutdown_service.sh
User=oracle
Group=oinstall
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target









[Service]
Type=forking

Environment=JAVA_HOME=/usr/lib/jvm/java-8-oracle/
Environment=CATALINA_PID=/opt/apache/apache-tomcat/temp/tomcat.pid
Environment=CATALINA_HOME=/opt/apache/apache-tomcat
Environment=CATALINA_BASE=/opt/apache/apache-tomcat
Environment='CATALINA_OPTS=-Xms512M -Xmx1024M -server -XX:+UseParallelGC'
Environment='JAVA_OPTS=-Djava.awt.headless=true -Djava.security.egd=file:/dev/./urandom'

ExecStart=/opt/apache/apache-tomcat/bin/startup.sh
ExecStop=/bin/kill -15 $MAINPID

User=tomcat
Group=tomcat
UMask=0007
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target