#!/bin/bash

export JAVA_HOME={{ oasys_ords_tomcat_dir }}/jre-9.0.4
export CATALINA_HOME={{ oasys_ords_tomcat_dir }}/latest
export CATALINA_OPTS="-Duser.timezone=GMT"
export PATH=$JAVA_HOME/bin::/usr/local/bin:/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/home/oracle/.local/bin:/home/oracle/bin
$CATALINA_HOME/bin/startup.sh
