---
- name: Import Incident Rule Set for {{ application }} Targets
  block:
    # EMCLI Login script contains a password so ensure it is not readable by other users
    - name: Copy Incident Rule Set Import scripts
      ansible.builtin.template:
        src: "{{ item }}.j2"
        dest: "{{ stage }}/{{ item }}"
        mode: "0700"
        owner: oracle
        group: oinstall
      loop:
        - import_incident_rule_set.sh
        - rule_set.xml

    - name: emcli Login
      import_tasks: emcli_login.yml

    # Ignore error re-importing the same rule set more than once

    # First we input the rule set for the Group "Notifications Allowed"
    # which may use OEM Native Notification functionality (it has
    # Diagnostics Pack availability)
    - name: Run Incident Rule Set Import With OEM Notifications
      become_user: oracle
      ansible.builtin.shell: |
        echo "running import_incident_rule_set.sh"
        {{ stage }}/import_incident_rule_set.sh
      register: incident_rule_set_import_with_notifications
      vars:
         rule_set_name: "HMPPS OEM Rule Set With OEM Notifications"
         target_selection_type: "SELECTED_EXCLUDED"
      failed_when:
        - incident_rule_set_import_with_notifications.rc > 0
        - not incident_rule_set_import_with_notifications.stderr is search('.*HMPPS OEM Rule Set With OEM Notifications.*already exists.*')

    # Second we input the rule set which applies to all targets -
    # this allows scripted notifications to run for targets which do
    # not have a Diagnostics pack licence.  (Note that targets with
    # "Notifications Allowed" also send scripted notifications; this
    # is intentional as it provides a fallback notification mechanism
    # if Native notifications are not working.  Targets which have
    # Diagnostics packs tend to be the more critical targets being
    # monitored so this provides an extra level of reassurance).
    - name: Run Incident Rule Set Import Without OEM Notifications
      become_user: oracle
      ansible.builtin.shell: |
        echo "running import_incident_rule_set.sh"
        {{ stage }}/import_incident_rule_set.sh
      register: incident_rule_set_import_without_notifications
      vars:
         rule_set_name: "HMPPS OEM Rule Set Without OEM Notifications"
         target_selection_type: "ALL_TARGETS"
      failed_when:
        - incident_rule_set_import_without_notifications.rc > 0
        - not incident_rule_set_import_without_notifications.stderr is search('.*HMPPS OEM Rule Set Without OEM Notifications.*already exists.*')

    - pause:
        seconds: 30
        prompt: |
          ====================================================================================
            As of OEM 13.5 Oracle does not provide an API to order Inicident Rules.
            This step must therefore be done manually through the Console as follows:

              Setup --> Incidents --> Incident Rules --> Reorder Rule Sets

              Ensure the following ordering:

              1st place:  HMPPS OEM Rule Set With OEM Notifications
              2nd place:  HMPPS OEM Rule Set Without OEM Notifications

          ====================================================================================

  always:
    - name: Remove Incident Rule Set scripts from Staging Area
      ansible.builtin.file:
        path: "{{ stage }}/{{ item }}"
        state: absent
      loop:
        - import_incident_rule_set.sh
        - rule_set.xml
