app_dir: /u01/app/oracle/product
emcli: "{{ '/u01/app/oracle/product/emcli/emcli' if (inventory_hostname is not search('oem')) else '/u01/app/oracle/product/mw135/bin/emcli' }}"
oem_secretsmanager_passwords:
  emrep:
    account_name: "hmpps-oem-{{ aws_environment }}"
    assume_role_name: "EC2OracleEnterpriseManagementSecretsRole"
    secret: "/oracle/database/EMREP/shared-passwords"
    users:
      - sysman:
