#!/bin/bash
# Managed by collectd-service-metrics ansible role
# If manually editing, just kill script and collectd will respawn
# e.g. pkill -u {{ collectd_script_user }} -f {{ collectd_script_path }}/{{ collectd_script_name }}.sh

HOSTNAME="${HOSTNAME:-localhost}"
INTERVAL="${INTERVAL:-{{ collectd_script_interval }}}"

while sleep "$INTERVAL"; do
{% for item in collectd_monitored_metrics_default %}
  val=({{ item.shell_cmd }}) 
  echo "PUTVAL $HOSTNAME/{{ item.metric_name }}/exitcode-{{ item.metric_dimension }} interval=$INTERVAL N:$val"
{% endfor %}
{% for item in collectd_monitored_services_additional %}
  val=({{ item.shell_cmd }}) 
  echo "PUTVAL $HOSTNAME/{{ item.metric_name }}/exitcode-{{ item.metric_dimension }} interval=$INTERVAL N:$val"
{% endfor %}
done
