CREATE OR REPLACE PACKAGE {{ oracle_goldengate_group.source.schema_owner }}.MIS_END_OF_DAY_PKG AS

/*
 *  NOMIS MIS Refresh Jobs code.
 *  
 *  Description:    This script creates procedures to support
 *                      MIS refresh jobs for Prison-NOMIS release  1.0e.
 *  
 *                  This script should be compiled by the {{ oracle_goldengate_group.source.schema_owner }} user.
 *  
 *  Change History:  
 *          Version:  Date:      Author:      Description:  
 *
 *      1.0e.1    15/01/26  D. Belton  Initial version for 1.0e MIS refresh
 */

    -- package version
    g_version      VARCHAR2(20) := '1.0e.1';

    -- Packaged procedure run_batch
    -- runs the end of day batch process for MIS refresh, which will:
    --   - set stop points for capture and apply processes associated with the MIS staging tables
    --   - run the MIS_BATCH_CONTROL program on the remote database via the MIS_STRM_LINK database link, which will create a new batch and set stop points for the remote capture and apply processes
    --   - wait for all capture and apply processes associated with the MIS staging tables to stop
    PROCEDURE run_batch;

END MIS_END_OF_DAY_PKG;
/

show errors
