plugin: amazon.aws.aws_ec2
regions:
  - eu-west-2
include_filters:
  - tag:aws:autoscaling:groupName:
      - "*"
exclude_filters:
  - instance-state-name:
      - pending
      - shutting-down
      - terminated
      - stopping
      - stopped
hostnames:
  - "instance-id"

compose:
  ansible_host: instance_id # private_ip_address - use ip address if need to go through bastion

groups:
  bastion: tags.Name is search('bastion')
  windows: (platform is defined) and (platform in 'windows')

keyed_groups:
  - key: tags['environment-name']
    prefix: environment-name
  - key: tags['ami']
    prefix: ami
  - key: tags['server-type']
    prefix: server-type
  - key: tags['os-type'] | lower
    prefix: os-type
  # - key: tags['environment-name'].split('-')[:-1]|join('-')   # an interesting idea for later maybe
  #   prefix: application
  # - key: tags['environment-name'].split('-')|last             # an interesting idea for later maybe
  #   prefix: aws_environment

strict: no
