db_name={{ auxiliary_db.db_name }}
instance_name={{ auxiliary_db.instance_name }}
db_unique_name={{ auxiliary_db.db_unique_name }}
audit_file_dest='/u01/app/oracle/admin/{{ auxiliary_db.instance_name }}/adump'