run
{
allocate channel ch1 device type 'SBT_TAPE' PARMS  'SBT_LIBRARY={{ database_home }}/lib/libosbws.so , ENV=(OSB_WS_PFILE={{ database_home }}/dbs/osbws.ora)';
backup current controlfile for standby;
}
