run
{
allocate channel ch1 device type 'SBT_TAPE' PARMS  'SBT_LIBRARY={{ database_home }}/lib/libosbws.so , ENV=(OSB_WS_PFILE={{ database_home }}/dbs/osbws.ora)';
allocate channel ch2 device type 'SBT_TAPE' PARMS  'SBT_LIBRARY={{ database_home }}/lib/libosbws.so , ENV=(OSB_WS_PFILE={{ database_home }}/dbs/osbws.ora)';
allocate channel ch3 device type 'SBT_TAPE' PARMS  'SBT_LIBRARY={{ database_home }}/lib/libosbws.so , ENV=(OSB_WS_PFILE={{ database_home }}/dbs/osbws.ora)';
allocate channel ch4 device type 'SBT_TAPE' PARMS  'SBT_LIBRARY={{ database_home }}/lib/libosbws.so , ENV=(OSB_WS_PFILE={{ database_home }}/dbs/osbws.ora)';
backup as compressed backupset database;
sql 'alter system archive log current';
sql 'alter system archive log current';
sql 'alter system archive log current';
backup archivelog all;
backup current controlfile;
backup spfile;
}