---
- import_tasks: get-ec2-facts.yml
  tags:
    - always
    - get-ec2-facts

- name: Print hostvars debug filename
  debug:
    msg: "Writing hostvars to {{ playbook_dir }}/facts.{{ inventory_hostname }}.json"
  tags:
    - never
    - debug-hostvars

- name: Write hostvars debug file
  copy:
    content: "{{ hostvars[inventory_hostname] | to_nice_json }}"
    dest: "{{ playbook_dir }}/facts.{{ inventory_hostname }}.json"
  delegate_to: localhost
  tags:
    - never
    - debug-hostvars
