{{ listener_log_location }}
{
        monthly
        rotate {{ longp_policy_months }}
        compress
        copytruncate
        create 0640 oracle dba
        notifempty
}

{{ listener_xml_location }}
{
        monthly
        rotate {{ longp_policy_months }}
        compress
        copytruncate
        create 0640 oracle dba
        notifempty
}
