#!/bin/bash
# This script configures/builds nodemanager/weblogic-admin/weblogic-managed-servers (Autologoff, Tagsar, Hotpage)

set -e

DB_PORT=1521

USAGE() { echo "Usage: weblogic-setup.sh [-h <DATABASE_HOSTNAME>] [-s <DATABASE_NAME (SID)>] [-p <DATABASE_PORT>]" 1>&2; exit 1; }

while getopts ":h:s:p:n:" OPT; do
        case $OPT in
                h) DB_HOSTNAME=${OPTARG};;
                s) DB_NAME=${OPTARG};;
                p) DB_PORT=${OPTARG};;
                n) EC2_NAME=${OPTARG};;
                :) echo "\n-${OPTARG} requires a value, check usage"
                   echo USAGE}
                   exit 1;;
                \?) echo USAGE
                   exit 1;;
        esac
done

oracle_commands() {

    # Retrieve configuration variables
    echo "# retrieving SSM parameters from {{ ssm_parameters_path }}"
    ADMIN_USERNAME=$(aws ssm get-parameter --name "{{ ssm_parameters_path }}/WEBLOGIC_USERNAME" --with-decryption --query Parameter.Value | tr -d '"')
    ADMIN_PASSWORD=$(aws ssm get-parameter --name "{{ ssm_parameters_path }}/WEBLOGIC_PASSWORD" --with-decryption --query Parameter.Value | tr -d '"')
    DB_USERNAME=$(aws ssm get-parameter --name "{{ ssm_parameters_path }}/DB_USERNAME" --with-decryption --query Parameter.Value | tr -d '"')
    DB_PASSWORD=$(aws ssm get-parameter --name "{{ ssm_parameters_path }}/DB_PASSWORD" --with-decryption --query Parameter.Value | tr -d '"')

    if [[ -z $ADMIN_USERNAME || -z $ADMIN_PASSWORD || -z $DB_USERNAME || -z $DB_PASSWORD ]]; then
      echo "ERROR: failed to get SSM parameters."
      exit 1
    fi

    if [[ -z $DB_NAME || -z $DB_HOSTNAME || -z $DB_PORT ]]; then
      echo "ERROR: DB parameters not set. DB_NAME=$DB_NAME DB_HOSTNAME=$DB_HOSTNAME DB_PORT=$DB_PORT"
      exit 1
    fi

    if [[ -z $HOSTNAME ]]; then
      echo "ERROR: HOSTNAME not set. HOSTNAME=$HOSTNAME"
      exit 1
    fi

    if [[ -z $ORACLE_HOME || -z $ORACLE_INSTANCE || -z $DOMAIN_HOME ]]; then
      echo "ERROR: Oracle variables not set.  ORACLE_HOME=$ORACLE_HOME ORACLE_INSTANCE=$ORACLE_INSTANCE DOMAIN_HOME=$DOMAIN_HOME"
      exit 1
    fi

    echo "# updating configuration"
    # Insert managed server configuration variables for (DB_HOSTNAME is provided as an env var by Terraform)
    sed -i 's/${ADMIN_USERNAME}/'${ADMIN_USERNAME}'/g' /u01/software/forms/configure_only.rsp /u01/software/weblogic/tagsar.properties /u01/software/weblogic/hotpage.properties /u01/software/weblogic/autologoff.properties
    sed -i 's/${ADMIN_PASSWORD}/'${ADMIN_PASSWORD}'/g' /u01/software/forms/configure_only.rsp /u01/software/weblogic/tagsar.properties /u01/software/weblogic/hotpage.properties /u01/software/weblogic/autologoff.properties
    sed -i 's/${ADMIN_CONFIRM_PASSWORD}/'${ADMIN_PASSWORD}'/g' /u01/software/forms/configure_only.rsp
    sed -i 's/${DOMAIN_HOSTNAME}/'${HOSTNAME}'/g' /u01/software/forms/configure_only.rsp /u01/software/weblogic/tagsar.properties /u01/software/weblogic/hotpage.properties /u01/software/weblogic/autologoff.properties /u01/software/weblogic/service/weblogic.properties
    sed -i 's/${DB_NAME}/'${DB_NAME}'/g' /u01/software/weblogic/tagsar.properties /u01/software/weblogic/hotpage.properties /u01/software/weblogic/autologoff.properties
    sed -i 's/${DB_HOSTNAME}/'${DB_HOSTNAME}'/g' /u01/software/weblogic/tagsar.properties /u01/software/weblogic/hotpage.properties /u01/software/weblogic/autologoff.properties
    sed -i 's/${DB_PORT}/'${DB_PORT}'/g' /u01/software/weblogic/tagsar.properties /u01/software/weblogic/hotpage.properties /u01/software/weblogic/autologoff.properties
    sed -i 's/${DB_USERNAME}/'${DB_USERNAME}'/g' /u01/software/weblogic/tagsar.properties /u01/software/weblogic/hotpage.properties /u01/software/weblogic/autologoff.properties
    sed -i 's/${DB_PASSWORD}/'${DB_PASSWORD}'/g' /u01/software/weblogic/tagsar.properties /u01/software/weblogic/hotpage.properties /u01/software/weblogic/autologoff.properties

    # Set WLS environment
    echo "# set WLS env"
    . $WL_HOME/server/bin/setWLSEnv.sh

    # Undo previous patch
    echo "# get previous patch ID"
    cd $WL_HOME/../utils/bsu/
    current_patch_ids=$(./bsu.sh -view -status=applied -prod_dir=$WL_HOME | grep "^Patch ID:" | cut -d: -f2 | sed  's/^ *//g' | cut -d\  -f1)
    if [[ $(echo "$current_patch_ids" | wc -l) > 1 ]]; then
      echo "ERROR: Not implemented multiple patches uninstall"
      exit 1
    fi
    if [[ ! -z $current_patch_ids ]]; then
      echo "# Removing previous patch: ./bsu.sh -remove -patchlist=$current_patch_ids -prod_dir=$WL_HOME -verbose"
      ./bsu.sh -remove -patchlist=$current_patch_ids -prod_dir=$WL_HOME -verbose

      # Display current patch, both for debug + to introduce a slight delay
      current_patch_ids=$(./bsu.sh -view -status=applied -prod_dir=$WL_HOME | grep "^Patch ID:" | cut -d: -f2 | sed  's/^ *//g' | cut -d\  -f1)
      if [[ ! -z $current_patch_ids ]]; then
        echo "ERROR: failed to remove previous patch"
        exit 1
      fi
    fi

    # Apply latest patch
    patch_s3_path="ec2-image-builder-nomis20220314103938567000000001/weblogic-software"
    patch_file="p32832785_1036_Generic.zip"
    patch_dir="$WL_HOME/../utils/bsu/cache_dir"
    target_patch_id="3NVW"
    if [[ -e $patch_dir ]]; then
      echo "# rm -rf $patch_dir"
      rm -rf $patch_dir
    fi
    echo "# mkdir -p $patch_dir"
    mkdir -p "$patch_dir"
    cd $patch_dir
    echo "# aws s3 cp s3://$patch_s3_path/$patch_file ./$patch_file --no-progress"
    aws s3 cp "s3://$patch_s3_path/$patch_file" "./$patch_file" --no-progress
    echo "# unzip $patch_file"
    unzip $patch_file
    cd $WL_HOME/../utils/bsu/
    echo "# Apply patch: ./bsu.sh -install -patch_download_dir=$patch_dir -patchlist=$target_patch_id -prod_dir=$WL_HOME -verbose"
    ./bsu.sh -install -patch_download_dir=$patch_dir -patchlist=$target_patch_id -prod_dir=$WL_HOME -verbose

    # Check installed
    current_patch_ids=$(./bsu.sh -view -status=applied -prod_dir=$WL_HOME | grep "^Patch ID:" | cut -d: -f2 | sed  's/^ *//g' | cut -d\  -f1)
    if (! echo "$current_patch_ids" | grep $target_patch_id > /dev/null ); then
      echo ERROR: failed to install patch $target_patch_id. Got: $current_patch_ids
      exit 1
    fi

    # Apply certificate patch
    patch_s3_path="ec2-image-builder-nomis20220314103938567000000001/weblogic-software"
    patch_file="p13964737_10360210720_Generic.zip"
    patch_dir="$WL_HOME/../utils/bsu/cache_dir"
    target_patch_id="UEYM"
    if [[ -e $patch_dir ]]; then
      echo "# rm -rf $patch_dir"
      rm -rf $patch_dir
    fi
    echo "# mkdir -p $patch_dir"
    mkdir -p "$patch_dir"
    cd $patch_dir
    echo "# aws s3 cp s3://$patch_s3_path/$patch_file ./$patch_file --no-progress"
    aws s3 cp "s3://$patch_s3_path/$patch_file" "./$patch_file" --no-progress
    echo "# unzip $patch_file"
    unzip $patch_file
    cd $WL_HOME/../utils/bsu/
    echo "# Apply patch: ./bsu.sh -install -patch_download_dir=$patch_dir -patchlist=$target_patch_id -prod_dir=$WL_HOME -verbose"
    ./bsu.sh -install -patch_download_dir=$patch_dir/$patch_file -patchlist=$target_patch_id -prod_dir=$WL_HOME -verbose

    # Check installed
    current_patch_ids=$(./bsu.sh -view -status=applied -prod_dir=$WL_HOME | grep "^Patch ID:" | cut -d: -f2 | sed  's/^ *//g' | cut -d\  -f1)
    if (! echo "$current_patch_ids" | grep $target_patch_id > /dev/null ); then
      echo ERROR: failed to install patch $target_patch_id. Got: $current_patch_ids
      exit 1
    fi

    echo "# running /u01/app/oracle/Middleware/forms_home/bin/config.sh"
    yes | bash /u01/app/oracle/Middleware/forms_home/bin/config.sh -silent -response /u01/software/forms/configure_only.rsp -invPtrLoc /var/opt/oracle/oraInst.loc

    # Wait for previous command to finish
    echo "# waiting for command to finish"
    tail --pid=$(pgrep -u oracle | tail -1) -f /dev/null

    # Weblogic admin console secrets (Values get encrypted automatically)
    echo "# updating boot.properties"
    echo "username=${ADMIN_USERNAME}
    password=${ADMIN_PASSWORD}" > /u01/app/oracle/Middleware/user_projects/domains/NomisDomain/servers/AdminServer/security/boot.properties

    # Copy configuration files
    echo "# moving config files to correct locations"
    copy_managed_server_files

    # Create new cert
    echo "# create new cert"
    mkdir ~/key
    cd ~/key
    java utils.CertGen -keyfilepass DemoIdentityPassPhrase -certfile democert -keyfile demokey -strength 1024
    echo "# import private key"
    java utils.ImportPrivateKey -keystore DemoIdentity.jks -storepass DemoIdentityKeyStorePassPhrase -keyfile demokey.pem -keyfilepass DemoIdentityPassPhrase -certfile democert.pem -alias demoidentity
    echo "# list keys"
    keytool -list -v -keystore DemoIdentity.jks -storepass DemoIdentityKeyStorePassPhrase
    echo "# import cert"
    keytool -importcert -trustcacerts -alias wlscertgenca -keystore DemoTrust.jks -storepass DemoTrustKeyStorePassPhrase -file /u01/app/oracle/Middleware/wlserver_10.3/server/lib/CertGenCA.der -noprompt
    echo "Update nodemanager.properties"
    sed -i 's/SecureListener=true/SecureListener=false/g' /u01/app/oracle/Middleware/wlserver_10.3/common/nodemanager/nodemanager.properties

    # Apply patches
    echo "# running setDomainEnv.sh"
    . /u01/app/oracle/Middleware/user_projects/domains/NomisDomain/bin/setDomainEnv.sh
    cd /u01/software/forms_patch/9473270
    echo "# running opatch apply"
    opatch apply -silent
    echo "# running opatch lsinventory"
    opatch lsinventory
    echo "# running opmctl stopall"
    opmnctl stopall

    cd $ORACLE_HOME/forms/lib
    echo "# make -f ins_forms.mk frmcmp_install"
    /usr/bin/make -f ins_forms.mk frmcmp_install
    echo "# make -f ins_forms.mk frmbld_install"
    /usr/bin/make -f ins_forms.mk frmbld_install
    echo "# make -f ins_forms.mk frmcmpb_install"
    /usr/bin/make -f ins_forms.mk frmcmpb_install
    echo "# make -f ins_forms.mk frmweb_install"
    /usr/bin/make -f ins_forms.mk frmweb_install
    echo "# make -f ins_reports.mk install"
    cd $ORACLE_HOME/reports/lib && /usr/bin/make -f ins_reports.mk install

    # Start node manager and weblogic as daemon processes
    echo "# startNodeManager"
    nohup /u01/app/oracle/Middleware/wlserver_10.3/server/bin/startNodeManager.sh >>nohup.out 2>&1 &
    echo "# startWebLogic"
    nohup /u01/app/oracle/Middleware/user_projects/domains/NomisDomain/bin/startWebLogic.sh >>nohup.out 2>&1 &
    echo "# opmnctl startall"
    opmnctl startall

    # Check db connection & Compile forms
    echo "# Compile forms and check DB connection"
    /u01/tag/utils/scripts/doallforms.sh -s /u01/tag/FormsSources -o /u01/tag/FormsObjects -e "${DB_NAME}" -p ${DB_PASSWORD}

    # Create Managed Servers
    # (i) Autologoff
    echo "# Create Managed Servers Autologoff"
    java weblogic.WLST /u01/software/weblogic/create_managed_app.py -p /u01/software/weblogic/autologoff.properties
    # (ii) Create TagSar
    echo "# Create Managed Servers TagSar"
    java weblogic.WLST /u01/software/weblogic/create_managed_app.py -p /u01/software/weblogic/tagsar.properties
    # (iii) Create HotPage
    echo "# Create Managed Servers HotPage"
    java weblogic.WLST /u01/software/weblogic/create_managed_app.py -p /u01/software/weblogic/hotpage.properties

    echo "# Cleanup"
    rm -f /u01/software/weblogic/tagsar.properties /u01/software/weblogic/hotpage.properties /u01/software/weblogic/autologoff.properties
}

copy_managed_server_files() {
    # Move the config files into the correct locations (Directory env vars are defined in bash profile)
    cp -p /u01/software/config/java/*.jar ${ORACLE_HOME}/forms/java
    cp /u01/software/config/jacob-1.14.3-x86.dll ${ORACLE_HOME}/forms/webutil/win32/
    cp /u01/software/config/PRSDK.dll ${ORACLE_HOME}/forms/webutil/win32/
    cp /u01/software/config/PRLIB.dll ${ORACLE_HOME}/forms/webutil/win32/

    cp /u01/software/config/fmrweb.res ${ORACLE_INSTANCE}/config/FormsComponent/forms/admin/resource/US
    cp /u01/software/config/fmrweb_utf8.res ${ORACLE_INSTANCE}/config/FormsComponent/forms/admin/resource/US
    cp /u01/software/config/webutil.cfg ${ORACLE_INSTANCE}/config/FormsComponent/forms/server
    cp /u01/software/config/httpd.conf ${ORACLE_INSTANCE}/config/OHS/ohs1/httpd.conf
    sed -i 's/DynamicServerList OFF/DynamicServerList ON\
            \DebugConfigInfo ON/g' ${ORACLE_INSTANCE}/config/OHS/ohs1/moduleconf/forms.conf
    sed -i 's/${DOMAIN_HOSTNAME}/$HOSTNAME/g' ${ORACLE_INSTANCE}/config/OHS/ohs1/httpd.conf
    cp /u01/software/config/formsweb.cfg ${DOMAIN_HOME}/config/fmwconfig/servers/WLS_FORMS/applications/formsapp_11.1.2/config
    cp /u01/software/config/tag.env ${DOMAIN_HOME}/config/fmwconfig/servers/WLS_FORMS/applications/formsapp_11.1.2/config

    cp /u01/software/config/setDomainEnv.sh ${DOMAIN_HOME}/bin
    cp /u01/tag/tagsar/applib/* ${DOMAIN_HOME}/lib/

    sed -i 's/${DB_NAME}/'${DB_NAME}'/g' /u01/software/config/tnsnames.ora
    sed -i 's/${DB_HOSTNAME}/'${DB_HOSTNAME}'/g' /u01/software/config/tnsnames.ora
    sed -i 's/${DB_PORT}/'${DB_PORT}'/g' /u01/software/config/tnsnames.ora
    cp /u01/software/config/tnsnames.ora ${ORACLE_INSTANCE}/config/
    cp /u01/software/config/tnsnames.ora ${ORACLE_HOME}/network/admin/

    mkdir -p /home/oracle/admin/scripts
    cp -p /u01/software/weblogic/service/* /home/oracle/admin/scripts/

    cp /u01/app/oracle/Middleware/forms_home/forms/webutil.pll /u01/tag/FormsSources/WEBUTIL.pll
    cp -p /u01/tag/FormsObjects/* /u01/tag/forms
}

main() {
    oracle_commands
}

main
