CREATE OR REPLACE PACKAGE {{ oracle_goldengate_sql_owner }}.AUDITDATA_JOB_PKG AS

/*
 *  NOMIS Audit Data Jobs code.
 *  
 *  Description:    This script creates procedures to support
 *                      Audit data jobs for Prison-NOMIS release 1.0e.
 *  
 *                  This script should be compiled by the {{ oracle_goldengate_sql_owner }} user.
 *  
 *  Change History:  
 *          Version:  Date:      Author:      Description:  
 *
 *      1.0e.1    15/01/26  D. Belton  Initial version for 1.0e audit
 */

    -- package version
    g_version      VARCHAR2(20) := '1.0e.1';

    -- package level variable declarations
--    g_queue_owner   VARCHAR2(30) := SYS_CONTEXT('USERENV', 'CURRENT_USER'); this would be right if the package was installed in ggint but its now in auditdata
    g_historic_days   CONSTANT NUMBER := 793;


    -- define exceptions
/* Conversion specific?
    g_aud_conv_exception   CONSTANT NUMBER := -20041;
    AUD_CONV_EXCEPTION     EXCEPTION;
    PRAGMA EXCEPTION_INIT(AUD_CONV_EXCEPTION, -20041);

    -- Packaged function convert_anydata_to_varchar2
    -- will convert a SYS.ANYDATA record to a VARCHAR2 string
    FUNCTION convert_anydata_to_varchar2 (
        p_any_val   IN     sys.anydata)
    RETURN varchar2;

    -- packaged function convert_anydata_to_date
    -- will convert a SYS.ANYDATA record to a date value
    FUNCTION convert_anydata_to_date (
        p_any_val in sys.anydata)
    RETURN date;

    -- Packaged function compareanydata
    -- compares 2 values stored as sys.anydata;
    -- returns true if they are equal, false if they different, null on an exception.
    FUNCTION compareanydata (
        anydata1 IN SYS.ANYDATA,
        anydata2 IN SYS.ANYDATA)
    RETURN BOOLEAN;

    -- Packaged function convertaddinfo
    -- does basic validation of audit_additional_info and, if valid, extracts IP address and 
    -- workstation name from it, swapping them around with the ip address and workstation values 
    -- supplied in the audit_client_ip_address and audit_client_workstation_name columns;
    -- caters for Citrix environments, where the values in the audit_client_ip adddress and 
    -- audit_client_workstation name will be that of the Citrix server, the end client ip address 
    -- and workstation name being embedded in the audit_additional_info column;
    -- returns true if audit_additional_info is valid, false if invalid, null on an exception.
    FUNCTION convertaddinfo(
      p_addinfo_in IN VARCHAR2, 
        p_ipaddress_in IN VARCHAR2,
        p_workstation_in IN VARCHAR2,
        p_addinfo_out OUT VARCHAR2,
        p_ipaddress_out OUT VARCHAR2,
        p_workstation_out OUT VARCHAR2)
    RETURN BOOLEAN;

    -- Packaged function convert_OBJ_PRIVILEGE
    -- will convert a DBA_AUDIT_TRAIL.OBJ_PRIVILEGE value to user-friendly string
    FUNCTION convert_OBJ_PRIVILEGE (
        p_obj_priv in varchar2 ) 
    RETURN varchar2 RESULT_CACHE;
*/


    -- Packaged function getOffId
    -- will retrieve offender id assocaiated with column values in NOMIS audit database
    FUNCTION getOffId (
        icolname  IN varchar2,
        icolvalue IN varchar2)
    RETURN VARCHAR2;

    -- Packaged function getRefData
    -- will retrieve display values for internal keys on NOMIS audit database.
    -- Called by function auditdata.getRefData, used by bobj_aud_select?
/*
    FUNCTION getRefData (
        colname  IN varchar2,
        colvalue IN varchar2)
    RETURN VARCHAR2;
*/
    -- Packaged procedure populate_offender_refs
    -- will insert offender cross-reference entries for up to p_table_row_limit
    -- rows from AUDITDATA.AUDIT_TABLE, based on values in AUDIT_COLUMN
    PROCEDURE populate_offender_refs (
        p_table_row_limit  IN     NUMBER DEFAULT 2000000,
        p_commit_unit_size  IN     NUMBER DEFAULT 1000 );

    -- Packaged procedure export_binary_data
    -- extracts binary data (images and documents) for a specified transaction from the NOMIS audit database;
    -- requires creation of g_binary_dir DIRECTORY to receive output files.
    PROCEDURE export_binary_data (
        p_lcr_commit_scn   in     number );

    -- Packaged function get_version
    -- will return a VARCHAR2 string containing a package version number
    FUNCTION get_version RETURN varchar2;


END AUDITDATA_JOB_PKG;
/

show errors
