
java_pool_size=1879048192
job_queue_processes=0
large_pool_size=250M
processes=5000
sga_max_size=20G
sga_target=20G
shared_pool_size=4G
streams_pool_size=536870912
db_recovery_file_dest_size=400G
log_archive_dest_1='location=use_db_recovery_file_dest valid_for=(all_logfiles,all_roles)'