set head off echo off feedback off 
spool /tmp/{{ ORACLE_DB_REFRESH_FILE }}
with controlfile_details as
(
 select db_key, max(stamp) stamp from rcvcatowner.rc_backup_controlfile
 where autobackup_date is NULL and db_name = '{{ ORACLE_DB_REFRESH_DB_NAME }}' 
 group by db_key
)
select a.HANDLE from rcvcatowner.rc_backup_piece a, controlfile_details b, rcvcatowner.rc_backup_controlfile c
where a.db_key =b.db_key and a.stamp=b.stamp and a.stamp=c.stamp and a.db_key=c.db_key and a.set_stamp=c.set_stamp and  a.bs_key=c.bs_key
/

exit
