set head off echo off feedback off 
spool /tmp/{{ SOURCE_DB }}_control.txt
select handle from
 (select a.db_key,b.db_name, a.handle, a.tag, a.media, a.completion_time
  from rcvcatowner.rc_backup_piece a , rcvcatowner.rc_backup_controlfile b
  where a.db_key=b.db_key and a.set_stamp=b.set_stamp
  and  a.tag like 'CONTROL%' and b.db_name='{{ SOURCE_DB }}' order by a.db_key, a.completion_time desc )
where rownum=1
/
spool off 
exit
