# $Id: formsweb.cfg /main/164 2010/10/19 05:20:53 atyagi Exp $
# formsweb.cfg defines parameter values used by the FormsServlet (frmservlet)
# This section defines the Default settings.  Any of them may be overridden in the
# following Named Configuration sections.  If they are not overridden, then the
# values here will be used.
# The default settings comprise two types of parameters: System parameters,
# which cannot be overridden in the URL, and User Parameters, which can.
# Parameters which are not marked as System parameters are User parameters.
# SYSTEM PARAMETERS
# -----------------
# These have fixed names and give information required by the Forms
# Servlet in order to function.  They cannot be specified in the URL query
# string.  But they can be overridden in a named configuration (see below).
# Some parameters specify file names: if the full path is not given,
# they are assumed to be in the same directory as this file.  If a path
# is given, then it should be a physical path, not a URL.
# USER PARAMETERS
# ---------------
# These match variables (e.g. %form%) in the baseHTML file. Their values
# may be overridden by specifying them in the URL query string
# (e.g. "http://myhost.example.com/forms/frmservlet?form=myform&width=700")
# or by overriding them in a specific, named configuration (see below)
[default]
# System parameter: default base HTML file
baseHTML=base.htm
# System parameter: base HTML file for use with Sun's Java Plug-In
baseHTMLjpi=basejpi.htm
# System parameter: delimiter for parameters in the base HTML files
HTMLdelimiter=%
# System parameter: file setting environment variables for the Forms runtime processes
envFile=default.env

# Forms runtime argument: whether to escape certain special characters
# in values extracted from the URL for other runtime arguments
escapeparams=true
# Forms runtime argument: which form module to run
form=test.fmx
# Forms runtime argument: database connection details
userid=
# Forms runtime argument: whether to run in debug mode
debug=no
# Forms runtime argument: host for debugging
host=
# Forms runtime argument: port for debugging
port=
# Forms runtime argument: BIDI digitSubstitution
digitSubstitution=context
# Other Forms runtime arguments: grouped together as one parameter.
# These settings support running and debugging a form from the Builder:
otherparams=obr=%obr% record=%record% tracegroup=%tracegroup% log=%log% term=%term% ssoProxyConnect=%ssoProxyConnect%
# Sub argument for otherparams
obr=no
# Sub argument for otherparams
record=
# Sub argument for otherparams
tracegroup=
# Sub argument for otherparams
log=
# Sub argument for otherparams
term=

# HTML page title
pageTitle=Oracle Fusion Middleware Forms Services
# HTML attributes for the BODY tag
HTMLbodyAttrs=
# HTML to add before the form
HTMLbeforeForm=
# HTML to add after the form
HTMLafterForm=

# Forms applet parameter: URL path to Forms ListenerServlet
serverURL=/forms/lservlet
# Forms applet parameter
codebase=/forms/java
# Forms applet parameter
imageBase=codebase
# Forms applet parameter
width=750
# Forms applet parameter
height=600
# Forms applet parameter
separateFrame=false
# Forms applet parameter
splashScreen=
# Forms applet parameter
allowAlertClipboard=true
# Forms applet parameter
disableValidateClipboard=false
# Forms applet parameter
highContrast=false
# Forms applet parameter
background=
# Forms applet parameter
lookAndFeel=Oracle
# Forms applet parameter
colorScheme=teal
# Forms applet parameter
logo=
# Forms applet parameter, valid range [0-3]
guiMode=0
# Forms applet parameter
restrictedURLparams=pageTitle,HTMLbodyAttrs,HTMLbeforeForm,HTMLafterForm,log
# Forms applet parameter
formsMessageListener=
# Forms applet parameter
recordFileName=
# Forms applet parameter
serverApp=default
# Forms applet archive setting for other clients (Sun Java Plugin, Appletviewer, etc)
archive=frmall.jar
# Number of times client should retry if a network failure occurs.  You should
# only change this after reading the documentation.
networkRetries=20


# Page displayed to users to allow them to download Sun's Java Plugin.
# Sun's Java Plugin is typically used for non-Windows clients.
# (NOTE: you should check this page and possibly change the settings)
jpi_download_page=https://java.sun.com/products/archive/j2se/6u12/index.html
# Parameter related to the version of the Java Plugin
jpi_classid=clsid:CAFEEFAC-0016-0000-0012-ABCDEFFEDCBA
# Parameter related to the version of the Java Plugin
jpi_codebase=https://java.sun.com/update/1.6.0/jinstall-6-windows-i586.cab#Version=1,6,0,12
# Parameter related to the version of the Java Plugin
jpi_mimetype=application/x-java-applet;jpi-version=1.6.0_12
# Applet parameter for Sun's Java Plugin
legacy_lifecycle=false

# Single Sign-On OID configuration parameter: indicates whether we allow
# dynamic resource creation if the resource is not yet created in the OID.
ssoDynamicResourceCreate=true
# Single Sign-On parameter: URL to redirect to if ssoDynamicResourceCreate=false
ssoErrorUrl=
# Single Sign-On parameter: Cancel URL for the dynamic resource creation DAS page.
ssoCancelUrl=
# Single Sign-On parameter: indicates whether the url is protected in which
# case mod_osso will be given control for authentication or continue in
# the FormsServlet if not. It is false by default. Set it to true in an
# application-specific section to enable Single Sign-On for that application.
ssoMode=false
# Single Sign-On parameter: indicates whether session should operate in proxy
# user support or not. Specify ssoProxyConnect=yes to enable for particular application.
ssoProxyConnect=no

# The parameter allow_debug determines whether debugging is permitted.
# Administrators should set allow_debug to "true" if servlet
# debugging is required, or to provide access to the Forms Trace Xlate utility. 
# Otherwise these activities will not be allowed (for security reasons).
allow_debug=false
# Parameter which determines whether new Forms sessions are allowed. 
# This is also read by the Forms EM Overview page to show the 
# current Forms status.
allowNewConnections=true

# EndUserMonitoring 

# EndUserMonitoringEnabled parameter
# Indicates whether EUM/Chronos integration is enabled
EndUserMonitoringEnabled=false

# EndUserMonitoringURL 
# indicates where to record EUM/Chronos data
EndUserMonitoringURL=

# Config for javascript integration
applet_name=
enableJavascriptEvent=true

# Config variable that will indicate if heartbeat will
# be blocked when a javascript call is a blocking call.
# The default value if false, i.e heart beat will not be
# blocked for any javascript calls.
JavaScriptBlocksHeartBeat=false

# Example Named Configuration Section
# Example 1: configuration to run forms in a separate browser window with
# "generic" look and feel (include "config=sepwin" in the URL)
# You may define your own specific, named configurations (sets of parameters)
# by adding special sections as illustrated in the following examples.
# Note that you need only specify the parameters you want to change.  The
# default values (defined above) will be used for all other parameters.
# Use of a specific configuration can be requested by including the text
# "config=<your_config_name>" in the query string of the URL used to run
# a form.  For example, to use the sepwin configuration, your could issue
# a URL like "http://myhost.example.com/forms/frmservlet?config=sepwin".
[sepwin]
separateFrame=True
lookandfeel=Generic


# Example Named Configuration Section
# Example 2: configuration running the Forms ListenerServlet in debug mode
# (debug messages will be written to the servlet engine's log file). 
[debug]
serverURL=/forms/lservlet/debug

# Sample configuration for deploying WebUtil. Note that WebUtil is
# only installed with the Forms Builder and is also available for download
# from OTN.
[webutil]
WebUtilArchive=frmwebutil.jar,jacob.jar
WebUtilLogging=off
WebUtilLoggingDetail=normal
WebUtilErrorMode=Alert
WebUtilDispatchMonitorInterval=5
WebUtilTrustInternal=true
WebUtilMaxTransferSize=16384
baseHTML=webutilbase.htm
baseHTMLjpi=webutiljpi.htm
archive=frmall.jar
lookAndFeel=oracle

[tag]
allowAlertClipboard=true
archive=frmall.jar
background=/TAG.gif
baseHTML=webutilbase.htm
baseHTMLjpi=webutiljpi.htm
colorScheme=blaf
disableValidateClipboard=true
envFile=tag.env
form=OMSS40.fmx
height=600
HTMLafterForm=<script>document.applets[1].height=screen.availHeight;document.applets[1].width=screen.availWidth;</script>
HTMLbeforeForm=<script type="text/javascript" src="/TAGLIB.js"></script>
imageBase=codeBase
jpi_classid=clsid:8AD9C840-044E-11D1-B3E9-00805F499D93
logo=no
lookAndFeel=oracle
otherparams=obr=%obr% record=%record% tracegroup=%tracegroup% log=%log% term=%term% ssoProxyConnect=%ssoProxyConnect% logon_screen=yes
prestartIncremen=5
prestartInit=5
prestartMin=5
prestartRuntimes=false
prestartTimeout=0
separateFrame=true
splashScreen=no
userid=@{{ weblogic_db_name | lower }}
webUtilArchive=frmwebutil.jar
WebUtilDispatchMonitorInterval=5
WebUtilErrorMode=Server
WebUtilLogging=off
WebUtilLoggingDetail=normal
WebUtilMaxTransferSize=16384
WebUtilTrustInternal=true
width=750
cache_archive_ex=frmwebutil.jar;preload,jacob.jar;preload,icons.jar;preload,tagClient.jar;preload,frmrwinteg.jar;preload,ssce.jar;preload,livecapture.jar;preload,opencv-300.jar;preload,bridj-0.6.2.jar;preload,slf4j-api-1.7.2.jar;preload,webcam-capture-0.3.10.jar;preload
