EXTRACT {{ oracle_goldengate_group.auditref.extract_name }}

-- Use NOUSERID for Downstream sourceless Extract to avoid connecting to the source database
NOUSERID

-- Use a mining user on the downstream (local) database
TRANLOGOPTIONS MININGUSERALIAS AUDIT_DB

EXTTRAIL {{ oracle_goldengate_trail_dir }}/{{ oracle_goldengate_group.auditref.trail_prefix }}

REPORTCOUNT EVERY 5 MINUTES, RATE
WARNLONGTRANS 1H, CHECKINTERVAL 30m
LOGALLSUPCOLS
UPDATERECORDFORMAT COMPACT
TRANLOGOPTIONS INTEGRATEDPARAMS (DOWNSTREAM_REAL_TIME_MINE N)

-- Dynamically generated TABLE lines go here for tables that need to be included in the extract
{% for line in oms_owner_tableinclude_lines %}
{{ line }}
{% endfor %}
