-- manager port
PORT 7809

-- Control connection access to the Manager process and the processes under its control.
-- Added to avoid OGG-01877 warning in the manager log file. The default is to allow all connections.
ACCESSRULE, PROG SERVER, ALLOW

-- Housekeeping of trail files. The default is to purge trail files older than 2 days, but this can be overridden by setting the MINKEEPDAYS parameter to a different value.
PURGEOLDEXTRACTS {{ oracle_goldengate_trail_dir }}/{{ oracle_goldengate_group.auditdata.trail_path }}/{{ oracle_goldengate_group.auditdata.trail_prefix }}*, USECHECKPOINTS, MINKEEPDAYS 2
PURGEOLDEXTRACTS {{ oracle_goldengate_trail_dir }}/{{ oracle_goldengate_group.auditref.trail_path }}/{{ oracle_goldengate_group.auditref.trail_prefix }}*, USECHECKPOINTS, MINKEEPDAYS 2
PURGEOLDEXTRACTS {{ oracle_goldengate_trail_dir }}/{{ oracle_goldengate_group.mis.trail_path }}/{{ oracle_goldengate_group.mis.trail_prefix }}*, USECHECKPOINTS, MINKEEPDAYS 2

-- Manager checks for Extract and Replicat lag.
LAGREPORTMINUTES 15

-- Use LAGINFOMINUTES and LAGINFOHOURS to specify the threshold at which
-- Manager reports Extract and Replicat lag.
LAGINFOMINUTES 15

-- Use LAGCRITICALSECONDS, LAGCRITICALMINUTES, or LAGCRITICALHOURS to specify a lag
-- threshold that is considered critical and to force a warning message to the error file (ggserr.log).
-- Ensure it is set greater than the time taken for redo logs to be archived and registered in the downstream database, otherwise it will always be reported as critical. 
LAGCRITICALMINUTES 60
