---
ansible_aws_ssm_bucket_name: s3-bucket20240321144723303200000002
dns_zone_internal: oasys-national-reporting.hmpps-test.modernisation-platform.internal
onr_environment: "{{ ec2.tags['oasys-national-reporting-environment'] }}"

bip_filesystems_mount:
  - dir: /opt/data/BusinessObjects
    fstype: nfs
    uid: bobj
    gid: binstall
    opts: nfsvers=4.1,rsize=1048576,wsize=1048576,hard,timeo=600,retrans=2,noresvport,nofail
    src: "eu-west-2a.fs-0089d47e90f353ea0.efs.eu-west-2.amazonaws.com:/"
    metric_dimension: t2_onr_sap_share
    maintenance_window:

db_configs:
  RCVCAT:
    rcvcat_db_name: T2RCVCAT
  T2BOSYS:
    db_name: T2BOSYS
    db_unique_name: T2BOSYS
    instance_name: T2BOSYS
    host_name: t2-oasys-db-a
    port: 1521
    tns_name: T2BOSYS
    asm_disk_groups: DATA
    service:
      - { name: BISYS_TAF, role: PRIMARY }
  T2BOAUD:
    db_name: T2BOAUD
    db_unique_name: T2BOAUD
    instance_name: T2BOAUD
    host_name: t2-oasys-db-a
    port: 1521
    tns_name: T2BOAUD
    asm_disk_groups: DATA,FLASH
    service:
      - { name: BIAUD_TAF, role: PRIMARY }

audit_db_sid: T2BOAUD
system_db_sid: T2BOSYS
audit_service_name: BIAUD_TAF
system_service_name: BISYS_TAF

oracle_client_tnsnames_ora_source_filename: "tnsnames.ora.onr-bip.{{ onr_environment }}"
oracle_client_sqlnet_ora_source_filename: sqlnet.ora

sap_bip_confs:
  t2:
    sap_web_java_mem: "4096"
    sap_bip_rar_base: "BIPLATS4304P_500-70002683"
    sap_bip_rws_url: "https://t2.test.reporting.oasys.service.justice.gov.uk/biprws"
    sap_bip_auditing_db_server: T2BOAUD
    sap_bip_auditing_db_user: bip_audit_owner
    sap_bip_cms_db_server: T2BOSYS
    sap_bip_cms_db_user: bip_system_owner
    sap_bip_control_lbs: "public"
    sap_bip_control_app_servers:
    sap_bip_control_cms_servers: |
      AdaptiveJobServer,Running,Enabled
      AdaptiveProcessingServer,Running,Enabled
      CentralManagementServer,Running,Enabled
      ConnectionServer,Running,Enabled
      EventServer,Running,Enabled
      InputFileRepository,Running,Enabled
      OutputFileRepository,Running,Enabled
      WebApplicationContainerServer,Running,Enabled
      WebIntelligenceProcessingServer,Running,Enabled
    sap_bip_control_cms_server_1:
    sap_bip_control_cms_server_2:

sap_environment: "{{ onr_environment }}"
sap_bip_conf: "{{ sap_bip_confs[sap_environment] }}"
sap_bip_control_lbs: "{{ sap_bip_conf.sap_bip_control_lbs }}"
sap_bip_control_app_servers: "{{ sap_bip_conf.sap_bip_control_app_servers }}"
sap_bip_control_cms_servers: "{{ sap_bip_conf.sap_bip_control_cms_servers }}"
sap_bip_control_cms_server_1: "{{ sap_bip_conf.sap_bip_control_cms_server_1 }}"
sap_bip_control_cms_server_2: "{{ sap_bip_conf.sap_bip_control_cms_server_2 }}"
sap_bip_rar_base: "{{ sap_bip_conf.sap_bip_rar_base }}"
sap_bip_rws_url: "{{ sap_bip_conf.sap_bip_rws_url }}"
sap_bip_auditing_db_server: "{{ sap_bip_conf.sap_bip_auditing_db_server }}"
sap_bip_auditing_db_user: "{{ sap_bip_conf.sap_bip_auditing_db_user }}"
sap_bip_cms_db_server: "{{ sap_bip_conf.sap_bip_cms_db_server }}"
sap_bip_cms_db_user: "{{ sap_bip_conf.sap_bip_cms_db_user }}"
sap_web_java_opts: "-Xms{{ sap_bip_conf.sap_web_java_mem }}m -Xmx{{ sap_bip_conf.sap_web_java_mem }}m -Dbobje.disable_audit_ip_lookup"
