---
database_global_database: STGMIS
database_taf_service: STGMIS_TAF
database_primary_unique: STGMIS
database_primary_sid: STGMIS
rman_level_0_backup_duration_target: "12:00"
rman_uncompressed_backup: Y
rman_retention_policy: RECOVERY WINDOW OF 31 DAYS
database_parameters:
  sga_max_size: 60G
  sga_target: 60G
  pga_aggregate_target: 12G
  pga_aggregate_limit: 24G
  db_cache_size: 48G
  compatible: 19.14.0
delius_users:
  bbuchan_dba:
  rsingh_dba:
    drop_user: true
  kmoss_dba:
  dbelton_dba:
  hmpps_data_hub_ro:
# Patch 34755459 included from 19.26 onwards
required_patches:
  p34755459:
    patch_files:
      - target_version: "19.24"
        filename: p34755459_1924000DBRU_Linux-x86-64.zip
      - target_version: "19.25"
        filename: p34755459_1925000DBRU_Linux-x86-64.zip
    description: "ORA-00600 [QERIXGETKEY OPTDESC] WITH FUNCTION BASED INDEX ON SUBSTR"
    grid_patch: false
    database_patch: true
  p35413661:
    patch_files:
      - target_version: "19.24"
        filename: p35413661_1924000DBRU_Linux-x86-64.zip
      - target_version: "19.25"
        filename: p35413661_1925000DBRU_Linux-x86-64.zip
      - target_version: "19.27"
        filename: p35413661_1927000DBRU_Linux-x86-64.zip
      - target_version: "19.28"
        filename: p35413661_1928000DBRU_Linux-x86-64.zip        
    description: "ORA-600 [OPTDESC] ASSERT NEED TO BE INTRODUCED EARLIER IN QKNA INSTEAD OF QERIX"
    grid_patch: false
    database_patch: true
oracle_software:
  version: "19.28"
  combo_patch: p37952382_190000_Linux-x86-64.zip
  opatch:
    version: 12.2.0.1.46
    filename: p6880880_190000_Linux-x86-64.12.2.0.1.46.zip
db_backup_s3_bucket_name: "{{ environment_name }}-oracle-mis-db-backups"
disks_partition:
  - ebs_device_name: /dev/sdd
    oracle_group: data
    oracle_label: DATA01
  - ebs_device_name: /dev/sde
    oracle_group: data
    oracle_label: DATA02
  - ebs_device_name: /dev/sdf
    oracle_group: data
    oracle_label: DATA03
  - ebs_device_name: /dev/sdg
    oracle_group: data
    oracle_label: DATA04
  - ebs_device_name: /dev/sdh
    oracle_group: data
    oracle_label: DATA05
  - ebs_device_name: /dev/sdi
    oracle_group: flash
    oracle_label: FLASH01
  - ebs_device_name: /dev/sdj
    oracle_group: flash
    oracle_label: FLASH02
  - ebs_device_name: /dev/sdk
    oracle_group: flash
    oracle_label: FLASH03
  - ebs_device_name: /dev/sdl
    oracle_group: flash
    oracle_label: FLASH04
source_db: "STGMIS"
