---
ansible_aws_ssm_bucket_name: s3-bucket20230313100641329200000002
image_builder_s3_bucket_name: nomis-data-hub-software20230309164626754200000003
dns_zone_internal: nomis-data-hub.hmpps-production.modernisation-platform.internal
ndelius_proxy_pass: interface.probation.service.justice.gov.uk
winrm_domain_name_fqdn: azure.hmpp.root

app_filesystems_domain_name_fqdn: azure.hmpp.root
app_filesystems_mount:
  - dir: /opt/data/interfaces/extract
    uid: 10002
    gid: 10002
    fstype: cifs
    opts: vers=3.0,_netdev,nofail,uid=10002,gid=10002,dir_mode=0755,file_mode=0755,credentials=/root/.filesystems/{{ filesystems_domain_name_fqdn }}.creds
    src: //PDPDW00057.azure.hmpp.root/NOMS_Extracts_PD$
    metric_dimension: NOMS_Extracts_PD
    state: absent

filesystems_domains:
  azure.hmpp.root:
    secret_name: /ndh/pd/shared
    mount_fs_username: svc_noms_ndh_pd

ndh_cdecopy_confs:
  pd:
    ndh_cdecopy_azure_storage_account_name: offlocprodapp
    ndh_cdecopy_azure_storage_container_name: cde
    ndh_cdecopy_s3_bucket_name: offloc-upload20240517094139820400000001
  dr:
    # don't enable offloc on DR until needed
    ndh_cdecopy_azure_storage_account_name:
    ndh_cdecopy_azure_storage_container_name:
    ndh_cdecopy_s3_bucket_name:

ndh_environment: "{{ ec2.tags['nomis-data-hub-environment'] }}"
ndh_cdecopy_conf: "{{ ndh_cdecopy_confs[ndh_environment] }}"
ndh_cdecopy_azure_storage_account_name: "{{ ndh_cdecopy_conf.ndh_cdecopy_azure_storage_account_name }}"
ndh_cdecopy_azure_storage_container_name: "{{ ndh_cdecopy_conf.ndh_cdecopy_azure_storage_container_name }}"
ndh_cdecopy_s3_bucket_name: "{{ ndh_cdecopy_conf.ndh_cdecopy_s3_bucket_name }}"
