---
dns_zone_internal: delius-mis.hmpps-development.modernisation-platform.internal

sap_bip_oracle_client_conf:
  sqlnet_ora_source_filename: sqlnet.ora
  tnsnames_ora_source_filename: tnsnames.ora.delius-bip.dev

sap_bip_db_conf:
  auditing_db_server: DMDBOE
  auditing_db_user: b14cms
  cms_db_server: DMDBOE
  cms_db_user: b14aud

sap_bip_auditing_db_server: "{{ sap_bip_db_conf.auditing_db_server }}"
sap_bip_auditing_db_user: "{{ sap_bip_db_conf.auditing_db_user }}"
sap_bip_cms_db_server: "{{ sap_bip_db_conf.cms_db_server }}"
sap_bip_cms_db_user: "{{ sap_bip_db_conf.cms_db_user }}"

sap_bip_conf:
  sap_bip_rar_base: "BIPLATS4304P_1400-70002683"
  sap_bip_rws_url: "https://t1.test.reporting.nomis.service.justice.gov.uk/biprws"
  web:
    sap_web_java_opts: "-Xms4096m -Xmx4096m -Dbobje.disable_audit_ip_lookup"
    sap_web_disable_cmcapp: "false"
    sap_web_apps:
      - AdminTools
      - BOE
      - BusinessProcessBI
      - bipodata
      - biprws
      - clientapi
      - dswsbobje
      - webi-websetup
  sap_bip_control_lbs: "private public"
  sap_bip_control_app_servers: |
    AdaptiveJobServer,Running,Enabled
    AdaptiveProcessingServer,Stopped,Disabled
    APS.Analysis,Stopped,Disabled
    APS.Connectivity,Running,Enabled
    APS.Core,Stopped,Disabled
    APS.DF,Running,Enabled
    APS.Monitoring,Stopped,Disabled
    APS.Visualization,Running,Enabled
    APS.WebI,Running,Enabled
    APS.WebIDSLBridge,Running,Enabled
    ConnectionServer,Running,Enabled
    WebApplicationContainerServer,Stopped,Disabled
    WebIntelligenceProcessingServer,Running,Enabled
  sap_bip_control_cms_servers: |
    AdaptiveJobServer,Running,Enabled
    AdaptiveProcessingServer,Stopped,Disabled
    APS.Analysis,Stopped,Disabled
    APS.Auditing,Stopped,Disabled
    APS.Connectivity,Running,Enabled
    APS.Core,Running,Enabled
    APS.Data,Stopped,Disabled
    APS.DF,Running,Enabled
    APS.Monitoring,Running,Enabled
    APS.PromotionManagement,Running,Enabled
    APS.Search,Stopped,Disabled
    APS.Visualization,Running,Enabled
    APS.Webi,Running,Enabled
    APS.WebIDSLBridge,Running,Enabled
    CentralManagementServer,Running,Enabled
    ConnectionServer,Running,Enabled
    EventServer,Running,Enabled
    InputFileRepository,Running,Enabled
    OutputFileRepository,Running,Enabled
    WebApplicationContainerServer,Stopped,Disabled
    WebIntelligenceProcessingServer,Running,Enabled
  sap_bip_control_cms_server_1:
  sap_bip_control_cms_server_2:

sap_bip_control_lbs: "{{ sap_bip_conf.sap_bip_control_lbs }}"
sap_bip_control_app_servers: "{{ sap_bip_conf.sap_bip_control_app_servers }}"
sap_bip_control_cms_servers: "{{ sap_bip_conf.sap_bip_control_cms_servers }}"
sap_bip_control_cms_server_1: "{{ sap_bip_conf.sap_bip_control_cms_server_1 }}"
sap_bip_control_cms_server_2: "{{ sap_bip_conf.sap_bip_control_cms_server_2 }}"
sap_bip_rar_base: "{{ sap_bip_conf.sap_bip_rar_base }}"
sap_bip_rws_url: "{{ sap_bip_conf.sap_bip_rws_url }}"
sap_web_conf: "{{ sap_bip_conf.web }}"

#bip_filesystems_mount:
#  - dir: /opt/data/BusinessObjects
#    fstype: nfs
#    uid: bobj
#    gid: binstall
#    opts: nfsvers=4.1,rsize=1048576,wsize=1048576,hard,timeo=600,retrans=2,noresvport,nofail
#    src: "eu-west-2a.fs-0a9a52ec4ffec21cc.efs.eu-west-2.amazonaws.com:/"
#    metric_dimension: t1_ncr_sap_share
#    maintenance_window:
