---
# From hmpps-env-configs/delius-core-dev/ansible/delius_primarydb.yml
database_global_database: DMDNDA
database_taf_service: DMDNDA_TAF
database_primary_unique: DMDNDA
database_primary_sid: DMDNDA
rman_level_0_backup_duration_target: "12:00"
delius_users:
  dbull_ro:
  nmcmahon_ro:
  mrees_ro:
  ahaslehurst_ro:
  bbuchan_ro:
    ash_report: true
  bbuchan_dba:
  rsingh_dba:
    drop_user: true
  kmoss_dba:
  worr_sro:
  nhodgkinson_rw:
  dbelton_dba:
  ammacdonald_dba:
  sbathina_ro:
    drop_user: true
  lnagarur_ro:
  tmanassis_ro:
    drop_user: true
  dpatel_ro:
  jksiaw_ro:
  sbailey_ro:
    drop_user: true
oracle_software:
  version: "19.28"
  combo_patch: p37952382_190000_Linux-x86-64.zip
  opatch:
    version: 12.2.0.1.46
    filename: p6880880_190000_Linux-x86-64.12.2.0.1.46.zip
# OFFENDER_DELTA and DOMAIN_EVENT are dynamic tables cleared down by Integration Services.
# Prevent changing these to unrepresentative statistics.
database_locked_statistics:
  - schema_name: DELIUS_APP_SCHEMA
    table_names:
      - DOC_MIGRATION_QUEUE_TAB: ALL
      - OFFENDER_DELTA: ALL
      - DOMAIN_EVENT: ALL
fsfo_mode: enabled
# For Delius databases *only*, allow the DELIUS_APP_SCHEMA.PRF_COLL_JOB to run for up to the
# period described in the ND_PARAMETERS table:  PRF_MT_MASTER_ITERATIONS * PRF_MT_MASTER_INTERVAL 
# (convert from seconds to minutes to set the thresholds)
host_oem_metrics:
  oracle_database:
    all:
      input_file: |
        START_RECORD 1
        metric , problemTbsp
        column , pctUsed
        key_columns , ;
        warning_threshold , 81
        critical_threshold , 90
        END_RECORD 1
    DMDNDA:
      input_file: |
        START_RECORD 1
        metric , problemTbsp
        column , pctUsed
        key_columns , ;
        warning_threshold , 81
        critical_threshold , 90
        END_RECORD 1
        START_RECORD 2
        metric , db_dbms_scheduler_jobs
        column , elapse_run_time
        key_columns , DELIUS_APP_SCHEMA;PRF_COLL_JOB;
        warning_threshold , 240
        critical_threshold , 250
        END_RECORD 2
  oracle_listener:
    all:
      input_file: |
        START_RECORD 1
        metric , Response
        column , tnsPing
        warning_threshold , 500
        critical_threshold , 1200
        END_RECORD 1
# Patch 36252161 is included in 19.23 and higher
required_patches:
  p36252161:
    patch_files:
      - target_version: "19.22"
        filename: p36252161_1922000OCWRU_Linux-x86-64.zip
    description: UNSUPPORTED CONFIGURATION DETECTED FOR REAL-TIME SCHEDULING REQUIREMENTS.
    grid_patch: true
    database_patch: false
    datapatch_required: false
    install_with_opatchauto: true
sql_plan_baselines:
     - SQL_23485ac04e2c7ed0
     - SQL_be28e221edf92c9c
     - SQL_a4dca55001c01f27
     - SQL_55297a64b8f91421