---
ansible_aws_ssm_bucket_name: s3-bucket20230824133223473100000007
db_backup_s3_bucket_name: nomis-db-backup-bucket20230824133223461100000006
image_builder_s3_bucket_name: ec2-image-builder-nomis20220314103938567000000001
dns_zone_internal: nomis.hmpps-development.modernisation-platform.internal
dns_search_domains:
  - hmpps-oem.hmpps-development.modernisation-platform.internal
  - nomis-data-hub.hmpps-development.modernisation-platform.internal
  - azure.noms.root
oracle_setup_config:
  - directory_path: /home/oracle/sysconsoftware/12c_setup_config
    extract_path: /home/oracle/sysconsoftware/
    group: oinstall
    owner: oracle
    s3_bucket_path: nomis-weblogic-12
    zip_file_name: 12c_setup_config.zip
  - directory_path: /u01/tag
    extract_path: /u01/
    group: oinstall
    owner: oracle
    s3_bucket_path: nomis-weblogic-12
    zip_file_name: tag.zip
oracle_template_file_config:
  - src: 12/u01/app/oracle/Middleware/user_projects/domains/nomis/servers/WLS_REPORTS/applications/reports_12.2.1/configuration/rwservlet.properties
    dest: /u01/app/oracle/Middleware/user_projects/domains/nomis/config/fmwconfig/servers/WLS_REPORTS/applications/reports_12.2.1/configuration/rwservlet.properties
  - src: 12/u01/app/oracle/Middleware/user_projects/domains/nomis/config/fmwconfig/components/OHS/ssl.conf
    dest: /u01/app/oracle/Middleware/user_projects/domains/nomis/config/fmwconfig/components/OHS/instances/ohs1/ssl.conf
  - src: 12/u01/app/oracle/Middleware/user_projects/domains/nomis/config/fmwconfig/components/OHS/ssl.conf
    dest: /u01/app/oracle/Middleware/user_projects/domains/nomis/config/fmwconfig/components/OHS/ohs1/ssl.conf
  - src: 12/u01/app/oracle/Middleware/user_projects/domains/nomis/config/fmwconfig/components/OHS/httpd.conf
    dest: /u01/app/oracle/Middleware/user_projects/domains/nomis/config/fmwconfig/components/OHS/ohs1/httpd.conf
  - src: 12/u01/app/oracle/Middleware/user_projects/domains/nomis/config/fmwconfig/components/OHS/httpd.conf
    dest: /u01/app/oracle/Middleware/user_projects/domains/nomis/config/fmwconfig/components/OHS/instances/ohs1/httpd.conf
  - src: 12/u01/app/oracle/Middleware/user_projects/domains/nomis/config/fmwconfig/components/OHS/mod_wl_ohs.conf
    dest: /u01/app/oracle/Middleware/user_projects/domains/nomis/config/fmwconfig/components/OHS/ohs1/mod_wl_ohs.conf
  - src: 12/u01/app/oracle/Middleware/user_projects/domains/nomis/config/fmwconfig/components/OHS/mod_wl_ohs.conf
    dest: /u01/app/oracle/Middleware/user_projects/domains/nomis/config/fmwconfig/components/OHS/instances/ohs1/mod_wl_ohs.conf
  - src: 12/u01/app/oracle/Middleware/user_projects/domains/nomis/config/fmwconfig/components/OHS/forms.conf
    dest: /u01/app/oracle/Middleware/user_projects/domains/nomis/config/fmwconfig/components/OHS/instances/ohs1/moduleconf/forms.conf
  - src: 12/u01/app/oracle/Middleware/user_projects/domains/nomis/config/fmwconfig/components/OHS/forms.conf
    dest: /u01/app/oracle/Middleware/user_projects/domains/nomis/config/fmwconfig/components/FORMS/instances/forms1/server/forms.conf
  - src: 12/u01/app/oracle/Middleware/user_projects/domains/nomis/config/fmwconfig/components/tnsnames.ora
    dest: /u01/app/oracle/Middleware/user_projects/domains/nomis/config/fmwconfig/tnsnames.ora
  - src: 12/u01/app/oracle/Middleware/user_projects/domains/nomis/config/fmwconfig/components/tnsnames.ora
    dest: /u01/app/oracle/Middleware/network/admin/tnsnames.ora
    owner: root
    group: root
tnsnames_hostname: dev-nomis-db19c-1-a
tnsnames_port: 1521
tnsnames_qa19c_service_name: QA19C
tnsnames_qa11g_service_name: QA11G
zip_file_temp_dir: /tmp
winrm_domain_name_fqdn: azure.noms.root

users_and_groups_regular:
  - group: studio-webops
  - group: syscon-nomis

weblogic_additional_form_servers: []

nomis_configs:
  dev:
    url: c-dev.development.nomis.service.justice.gov.uk
  qa11g:
    url: c-qa11g.development.nomis.service.justice.gov.uk
  qa11r:
    url: c-qa11r.development.nomis.service.justice.gov.uk

db_configs:
  dev:
    db_name: dev
  qa11g:
    db_name: qa11g
  qa19c:
    db_name: qa19c
  qa11r:
    db_name: qa11r

# OEM server
OMS_SERVER: dev-oem-a.hmpps-oem.hmpps-development.modernisation-platform.internal
OEM_AGENT_VERSION: 13.5.0.0.0
oracle_ru_patch: OCT2024

# xsiam-agent: Nomis cortex XDR agent has a nomis tag baked in
xsiam_agent_artefacts_s3_bucket_path: hmpps/XSIAM/Agents/nomis
xsiam_agent_version: 8.8.0.133595
xsiam_agent_rpm_tar_gz_filename: "nomis_linux_{{ xsiam_agent_version | replace('.','_') }}_rpm.tar.gz"
xsiam_agent_db_state: absent
xsiam_agent_db19c_state: absent
xsiam_agent_web_state: absent
xsiam_agent_web12_state: absent
xsiam_agent_xtag_state: absent
