---
ansible_aws_ssm_bucket_name: s3-bucket20230608132808605000000001
image_builder_s3_bucket_name: hmpps-oem-software20230608132809146600000002
db_backup_s3_bucket_name: devtest-hmpps-oem-db-backup-bucket-20230801085755707000000001
dns_zone_internal: hmpps-oem.hmpps-test.modernisation-platform.internal
dns_search_domains:
  - nomis.hmpps-test.modernisation-platform.internal
  - oasys.hmpps-test.modernisation-platform.internal
  - nomis-combined-reporting.hmpps-test.modernisation-platform.internal
  - corporate-staff-rostering.hmpps-test.modernisation-platform.internal
  - azure.noms.root
emrepo: EMREP
rcvcat: RCVCAT

# OEM server
OMS_SERVER: test-oem-a.hmpps-oem.hmpps-test.modernisation-platform.internal
OEM_AGENT_VERSION: 13.5.0.0.0
oracle_ru_patch: JUL2025
# rman details
rman_backup_script: rman_backup.sh
recovery_catalog: 1
recovery_catalog_server: "{{ OMS_SERVER }}"
rman_backup_cron:
  backup_level_0:
    - name: rman_backup_weekly
      weekday: "5"
      minute: "00"
      hour: "17"
      # job: command generated in rman-backup-setup
  backup_level_1:
    - name: rman_backup_daily
      weekday: "0,1,2,3,4,6"
      minute: "30"
      hour: "17"
      # job: command generated in rman-backup-setup

db_configs:
  RCVCAT:
    rcvcat_db_name: TRCVCAT
    service:
      - { name: RCV_TAF, role: PRIMARY }

  EMREP:
    emrepo_db_name: EMREP
    parameters:
      - { name: "_allow_insert_with_update_check", value: TRUE, db_restart_required: 0, scope: both }
      - { name: session_cached_cursors, value: 300, db_restart_required: 0, scope: spfile }
      - { name: processes, value: 1000, db_restart_required: 1, scope: spfile }
      - { name: pga_aggregate_target, value: 800M, db_restart_required: 0, scope: both }
      - { name: db_recovery_file_dest_size, value: 40G, db_restart_required: 0, scope: both }
      - {
          name: log_archive_dest_1,
          value: '"''location=use_db_recovery_file_dest valid_for=(all_logfiles,all_roles) db_unique_name=emrep''"',
          db_restart_required: 0,
          scope: both,
        }
    service:
      - { name: EMREP_TAF, role: PRIMARY }

# Oracle database housekeeping
audit_housekeeping_period: 60
db_housekeeping_script: db_server_housekeeping.sh
housekeeping_cron:
  db_server_housekeeping:
    - name: database_server_housekeeping
      weekday: "0"
      minute: "30"
      hour: "08"
      # job: command generated in

emcli: /u01/app/oracle/product/mw135/bin/emcli
emctl_oem: /u01/app/oracle/product/mw135/bin/emctl
emctl_agent: /u01/app/oracle/product/oem-agent/agent_inst/bin/emctl

collectd_endpoint_monitoring:
  # az-noms-dev-test-environments
  - metric_dimension: stage.offloc.service.justice.gov.uk
    url: https://stage.offloc.service.justice.gov.uk/health
    time_ranges: "1.0700-1.1800,2.0700-2.1800,3.0700-3.1800,4.0700-4.1800,5.0700-5.1800"

  # hmpps-domain-services
  - metric_dimension: rdgateway1.test.hmpps-domain.service.justice.gov.uk
    url: https://rdgateway1.test.hmpps-domain.service.justice.gov.uk/
    time_ranges: "1.0700-1.1800,2.0700-2.1800,3.0700-3.1800,4.0700-4.1800,5.0700-5.1800"
  - metric_dimension: rdweb1.test.hmpps-domain.service.justice.gov.uk
    url: https://rdweb1.test.hmpps-domain.service.justice.gov.uk/RDWeb
    time_ranges: "1.0700-1.1800,2.0700-2.1800,3.0700-3.1800,4.0700-4.1800,5.0700-5.1800"

  # nomis
  - metric_dimension: c-t1.test.nomis.service.justice.gov.uk
    url: https://c-t1.test.nomis.service.justice.gov.uk/forms/frmservlet?config=tag
  - metric_dimension: c-t2.test.nomis.service.justice.gov.uk
    url: https://c-t1.test.nomis.service.justice.gov.uk/forms/frmservlet?config=tag
  - metric_dimension: c-t3.test.nomis.service.justice.gov.uk
    url: https://c-t3.test.nomis.service.justice.gov.uk/forms/frmservlet?config=tag

  # oasys
  - metric_dimension: t1-int.oasys.service.justice.gov.uk
    url: https://t1-int.oasys.service.justice.gov.uk/
    time_ranges: "1.0700-1.1800,2.0700-2.1800,3.0700-3.1800,4.0700-4.1800,5.0700-5.1800"
  - metric_dimension: t2-int.oasys.service.justice.gov.uk
    url: https://t2-int.oasys.service.justice.gov.uk/
    time_ranges: "1.0700-1.1800,2.0700-2.1800,3.0700-3.1800,4.0700-4.1800,5.0700-5.1800"
