---
ansible_aws_ssm_bucket_name: s3-bucket20230309164626616600000002
image_builder_s3_bucket_name: nomis-data-hub-software20230309164626754200000003
dns_zone_internal: nomis-data-hub.hmpps-test.modernisation-platform.internal
ndelius_proxy_pass: interface.test.probation.service.justice.gov.uk
winrm_domain_name_fqdn: azure.noms.root

ndh_cdecopy_confs:
  t1:
    ndh_cdecopy_azure_storage_account_name: offlocstageapp
    ndh_cdecopy_azure_storage_container_name: cde
    ndh_cdecopy_s3_bucket_name: offloc-upload20240515092114741500000001
  t2:
    ndh_cdecopy_azure_storage_account_name:
    ndh_cdecopy_azure_storage_container_name:
    ndh_cdecopy_s3_bucket_name:

ndh_environment: "{{ ec2.tags['nomis-data-hub-environment'] }}"
ndh_cdecopy_conf: "{{ ndh_cdecopy_confs[ndh_environment] }}"
ndh_cdecopy_azure_storage_account_name: "{{ ndh_cdecopy_conf.ndh_cdecopy_azure_storage_account_name }}"
ndh_cdecopy_azure_storage_container_name: "{{ ndh_cdecopy_conf.ndh_cdecopy_azure_storage_container_name }}"
ndh_cdecopy_s3_bucket_name: "{{ ndh_cdecopy_conf.ndh_cdecopy_s3_bucket_name }}"
