--- # delius_primarydb.yml

database_global_database: STGNDA
database_taf_service: STGNDA_TAF
database_primary_unique: STGNDA
database_primary_sid: STGNDA
rman_level_0_backup_duration_target: "12:00"
rman_uncompressed_backup: Y
rman_retention_policy: RECOVERY WINDOW OF 31 DAYS
rman_channel_cap: 4
cfo_database_directory: "/u01/app/oracle/admin/{{ database_global_database }}/cfo/shared_files/National/cfo"
delius_users:
  jstanley_ro:
  amarke_ro:
  arichardson_ro:
  cbarnett_ro:
  eliddiard_ro:
  jevans_ro:
  ebrindley_ro:
  dnicholson_ro:
  jprinold_ro:
  olewis_ro:
  asetchi_ro:
  hcurtis_ro:
  dlantos_ro:
  nmcmahon_ro:
  mrees_ro:
  nhodgkinson_ro:
  bbuchan_dba:
  rsingh_dba:
    drop_user: true
  kmoss_dba:
  jmacbeth_ro:
  jdundon_ro:
  mthapa_ro:
  maspin_ro:
  mlaskowski_ro:
  pmiller_ro:
  pwilson_ro:
  rmccormack_ro:
  svalmonte_ro:
  dbelton_dba:
  hmpps_data_hub_ro:
# OFFENDER_DELTA and DOMAIN_EVENT are dynamic tables cleared down by Integration Services.
# Prevent changing these to unrepresentative statistics.
oracle_software:
  version: "19.28"
  combo_patch: p37952382_190000_Linux-x86-64.zip
  opatch:
    version: 12.2.0.1.46
    filename: p6880880_190000_Linux-x86-64.12.2.0.1.46.zip
database_locked_statistics:
  - schema_name: DELIUS_APP_SCHEMA
    table_names:
      - DOC_MIGRATION_QUEUE_TAB: ALL
      - OFFENDER_DELTA: ALL
      - DOMAIN_EVENT: ALL
database_parameters:
  db_recovery_file_dest_size: 900G
  compatible: 19.14.0
# Baseline SQL_cc61b358b26dd4dd is only required temporarily whilst data in Stage is very old
sql_plan_baselines:
     - SQL_23485ac04e2c7ed0
     - SQL_be28e221edf92c9c
     - SQL_a4dca55001c01f27
     - SQL_55297a64b8f91421
     - SQL_cc61b358b26dd4dd
# For Delius databases *only*, allow the DELIUS_APP_SCHEMA.PRF_COLL_JOB to run for up to the
# period described in the ND_PARAMETERS table:  PRF_MT_MASTER_ITERATIONS * PRF_MT_MASTER_INTERVAL 
# (convert from seconds to minutes to set the thresholds)
host_oem_metrics:
  oracle_database:
    all:
      input_file: |
        START_RECORD 1
        metric , problemTbsp
        column , pctUsed
        key_columns , ;
        warning_threshold , 81
        critical_threshold , 90
        END_RECORD 1
    STGNDA:
      input_file: |
        START_RECORD 1
        metric , problemTbsp
        column , pctUsed
        key_columns , ;
        warning_threshold , 81
        critical_threshold , 90
        END_RECORD 1
        START_RECORD 2
        metric , db_dbms_scheduler_jobs
        column , elapse_run_time
        key_columns , DELIUS_APP_SCHEMA;PRF_COLL_JOB;
        warning_threshold , 240
        critical_threshold , 250
        END_RECORD 2
  oracle_listener:
    all:
      input_file: |
        START_RECORD 1
        metric , Response
        column , tnsPing
        warning_threshold , 500
        critical_threshold , 1200
        END_RECORD 1
