[Unit]
Description=WebLogic managed server Service

[Service]
Type=simple
TimeoutStartSec=180
ExecStart=/home/oracle/admin/scripts/startManagedWebLogic.sh
ExecStartPost=/home/oracle/admin/scripts/waitManagedWebLogic.sh
ExecStop=/home/oracle/admin/scripts/stopManagedWebLogic.sh

[Install]
WantedBy=multi-user.target
