[Unit]
Description=WebLogic NodeManager Service

[Service]
Type=simple
WorkingDirectory={{ domain_home }}
ExecStart={{ wl_home }}/server/bin/startNodeManager.sh
ExecStop=/home/oracle/admin/scripts/stopNodeManager.sh
User=oracle
Group=oinstall

[Install]
WantedBy=multi-user.target
