[Unit]
Description=WebLogic Admin Server

[Service]
Type=simple
TimeoutStartSec=60
ExecStart=/home/oracle/admin/scripts/startWebLogic.sh
ExecStartPost=/home/oracle/admin/scripts/waitWebLogic.sh
ExecStop=/home/oracle/admin/scripts/stopWebLogic.sh

[Install]
WantedBy=multi-user.target
