[Unit]
Description=WebLogic Adminserver Service

[Service]
Type=simple
WorkingDirectory={{ domain_home }}
ExecStart={{ domain_home }}/{{ domain_name }}/bin/startWebLogic.sh
ExecStop={{ domain_home }}/{{ domain_name }}/bin/stopWebLogic.sh
User=oracle
Group=oinstall

[Install]
WantedBy=multi-user.target
