[Unit]
Description=WebLogic managed server Service

[Service]
Type=simple
WorkingDirectory={{ domain_home }}
ExecStart={{ domain_home }}/{{ domain_name }}/bin/startManagedWebLogic.sh {{ managed_server }}
ExecStop={{ domain_home }}/{{ domain_name }}/bin/stopManagedWebLogic.sh {{ managed_server }}
User=oracle
Group=oinstall

[Install]
WantedBy=multi-user.target
