[Unit]
Description=WebLogic NodeManager Service

[Service]
Type=simple
TimeoutStartSec=60
ExecStart=/home/oracle/admin/scripts/startNodeManager.sh
ExecStop=/home/oracle/admin/scripts/stopNodeManager.sh

[Install]
WantedBy=multi-user.target
