[Unit]
Description=SAP BOBJ EnterpriseXI40
Requires=local-fs.target
Requires=network.target

[Service]
Type=forking
TimeoutSec=0
RemainAfterExit=yes
ExecStart=/usr/local/bin/SAPBOBJEnterpriseXI40 start
ExecStop=/usr/local/bin/SAPBOBJEnterpriseXI40 stop
TasksMax=infinity

[Install]
WantedBy=multi-user.target
