{% for tns_entry in tns_entries[ env_name ] %}
{% if tns_entry.name.startswith('LISTENER') %}
{{ tns_entry.name }} =
{% for host in tns_entry.host_list %}
    (ADDRESS = (PROTOCOL = TCP)(HOST = {{ host }})(PORT = {{ tns_entry.port }}))
{% endfor %}
{% endif %}
{% else %}
{{ tns_entry.name }} =
  (DESCRIPTION =
{% for host in tns_entry.host_list %}
    (ADDRESS = (PROTOCOL = TCP)(HOST = {{ host }})(PORT = {{ tns_entry.port }}))
{% endfor %}
{% if tns_entry.host_list|length > 1 %}
    (FAILOVER = YES)
    (CONNECT_DATA =
       (SERVICE_NAME = {{ tns_entry.service_name }})
        (FAILOVER_MODE =
        (TYPE = SELECT)
        (METHOD = BASIC)
       )
     )
{% else %}
    (CONNECT_DATA =
       (SERVICE_NAME = {{ tns_entry.service_name }})
     )
{% endif %}
  )

{% endfor %}
