---
oracle_file_config:
  - src: /home/oracle/sysconsoftware/12c_setup_config/signedjava/
    dest: /u01/app/oracle/Middleware/forms/java
  - src: /home/oracle/sysconsoftware/12c_setup_config/fmrweb.res
    dest: /u01/app/oracle/Middleware/user_projects/domains/nomis/config/fmwconfig/components/FORMS/instances/forms1/admin/resource/US/fmrweb.res
  - src: /home/oracle/sysconsoftware/12c_setup_config/fmrweb_utf8.res
    dest: /u01/app/oracle/Middleware/user_projects/domains/nomis/config/fmwconfig/components/FORMS/instances/forms1/admin/resource/US/fmrweb_utf8.res
  - src: /home/oracle/sysconsoftware/12c_setup_config/formsweb.cfg
    dest: /u01/app/oracle/Middleware/user_projects/domains/nomis/config/fmwconfig/servers/WLS_FORMS/applications/formsapp_12.2.1/config/formsweb.cfg
  - src: /home/oracle/sysconsoftware/12c_setup_config/tag.env
    dest: /u01/app/oracle/Middleware/user_projects/domains/nomis/config/fmwconfig/servers/WLS_FORMS/applications/formsapp_12.2.1/config/tag.env
  - src: /home/oracle/sysconsoftware/12c_setup_config/webutil.cfg
    dest: /u01/app/oracle/Middleware/user_projects/domains/nomis/config/fmwconfig/components/FORMS/forms1/server/webutil.cfg
  - src: /home/oracle/sysconsoftware/12c_setup_config/webutil.cfg
    dest: /u01/app/oracle/Middleware/user_projects/domains/nomis/config/fmwconfig/components/FORMS/instances/forms1/server/webutil.cfg
  - src: /home/oracle/sysconsoftware/12c_setup_config/jacob-1.21-x86.dll
    dest: /u01/app/oracle/Middleware/forms/webutil/win32/jacob-1.21-x86.dll
  - src: /home/oracle/sysconsoftware/12c_setup_config/jacob-1.21-x64.dll
    dest: /u01/app/oracle/Middleware/forms/webutil/win32/jacob-1.21-x64.dll
  - src: /home/oracle/sysconsoftware/12c_setup_config/PRSDK.dll
    dest: /u01/app/oracle/Middleware/forms/webutil/win32/PRSDK.dll
  - src: /home/oracle/sysconsoftware/12c_setup_config/PRLIB.dll
    dest: /u01/app/oracle/Middleware/forms/webutil/win32/PRLIB.dll
  - src: /u01/app/oracle/Middleware/forms/webutil.pll
    dest: /u01/tag/FormsSources/WEBUTIL.pll
oracle_template_file_config:
  - src: 12/u01/app/oracle/Middleware/user_projects/domains/nomis/servers/WLS_REPORTS/applications/reports_12.2.1/configuration/rwservlet.properties
    dest: /u01/app/oracle/Middleware/user_projects/domains/nomis/config/fmwconfig/servers/WLS_REPORTS/applications/reports_12.2.1/configuration/rwservlet.properties
  - src: 12/u01/app/oracle/Middleware/user_projects/domains/nomis/config/fmwconfig/components/OHS/ssl.conf
    dest: /u01/app/oracle/Middleware/user_projects/domains/nomis/config/fmwconfig/components/OHS/instances/ohs1/ssl.conf
  - src: 12/u01/app/oracle/Middleware/user_projects/domains/nomis/config/fmwconfig/components/OHS/ssl.conf
    dest: /u01/app/oracle/Middleware/user_projects/domains/nomis/config/fmwconfig/components/OHS/ohs1/ssl.conf
  - src: 12/u01/app/oracle/Middleware/user_projects/domains/nomis/config/fmwconfig/components/OHS/httpd.conf
    dest: /u01/app/oracle/Middleware/user_projects/domains/nomis/config/fmwconfig/components/OHS/ohs1/httpd.conf
  - src: 12/u01/app/oracle/Middleware/user_projects/domains/nomis/config/fmwconfig/components/OHS/httpd.conf
    dest: /u01/app/oracle/Middleware/user_projects/domains/nomis/config/fmwconfig/components/OHS/instances/ohs1/httpd.conf
  - src: 12/u01/app/oracle/Middleware/user_projects/domains/nomis/config/fmwconfig/components/OHS/mod_wl_ohs.conf
    dest: /u01/app/oracle/Middleware/user_projects/domains/nomis/config/fmwconfig/components/OHS/ohs1/mod_wl_ohs.conf
  - src: 12/u01/app/oracle/Middleware/user_projects/domains/nomis/config/fmwconfig/components/OHS/mod_wl_ohs.conf
    dest: /u01/app/oracle/Middleware/user_projects/domains/nomis/config/fmwconfig/components/OHS/instances/ohs1/mod_wl_ohs.conf
  - src: 12/u01/app/oracle/Middleware/user_projects/domains/nomis/config/fmwconfig/components/OHS/forms.conf
    dest: /u01/app/oracle/Middleware/user_projects/domains/nomis/config/fmwconfig/components/OHS/instances/ohs1/moduleconf/forms.conf
  - src: 12/u01/app/oracle/Middleware/user_projects/domains/nomis/config/fmwconfig/components/OHS/forms.conf
    dest: /u01/app/oracle/Middleware/user_projects/domains/nomis/config/fmwconfig/components/FORMS/instances/forms1/server/forms.conf
  - src: 12/u01/app/oracle/Middleware/user_projects/domains/nomis/config/fmwconfig/components/tnsnames.ora
    dest: /u01/app/oracle/Middleware/user_projects/domains/nomis/config/fmwconfig/tnsnames.ora
  - src: 12/u01/app/oracle/Middleware/user_projects/domains/nomis/config/fmwconfig/components/tnsnames.ora
    dest: /u01/app/oracle/Middleware/network/admin/tnsnames.ora
    owner: root
    group: root

weblogic_admin_username: weblogic
weblogic_domain_template_filename: none  # override in group vars once template has been created

# Set these in appropriate group vars:
# weblogic_db_repo_hostname:
# weblogic_db_repo_sid:
# weblogic_db_repo_prefix:
weblogic_db_repo_username: "sys"

weblogic_db_repo_password_secret:
  - key: "{{ weblogic_db_repo_username }}"
    value:

weblogic_admin_password_secret:
  - key: "{{ weblogic_admin_username }}"
    value: auto

weblogic_secretsmanager_passwords:
  db_repo:
    secret: "/oracle/database/{{ weblogic_db_repo_sid }}/weblogic-passwords"
    users:
      - "{{ weblogic_db_repo_password_secret | items2dict }}"
      - wls_schemas: auto
  weblogic:
    secret: "/oracle/weblogic/{{ nomis_environment }}/passwords"
    users:
      - "{{ weblogic_admin_password_secret | items2dict }}"
