---
- name: Print active tags before running tasks
  debug:
    var: ansible_run_tags

- name: Check if Oracle Enterprise Manager Cloud Control 13c Release 5 already installed
  ansible.builtin.stat:
    path: "{{ oem_agent_base }}/agent_inst/bin/emctl"
  register: oem_agent_software_installed
  tags:
    - amibuild
    - get_facts
    - ec2provision
    - always

- import_tasks: get_facts.yml
  tags:
    - amibuild
    - get_facts
    - ec2provision
    - always

- name: oem_software_installed
  debug:
    var: oem_agent_software_installed.stat.exists

- import_tasks: oem_agent_install.yml
  tags:
    - amibuild
    - ec2provision
    - oem_agent_install
  when: not oem_agent_software_installed.stat.exists

- import_tasks: oem_agent_ru_upgrade.yml
  tags:
    - amibuild
    - ec2provision
    - oem_agent_install
    - agent_ru_upgrade

- import_tasks: agent_target_promote.yml
  tags:
    - amibuild
    - ec2provision
    - oem_agent_target_promote
    - oem_agent_install
  # Added when clause as tags were ignored when this role is called from oracle-oms-setup role
  # This task shoudn't be run when run from oracle-oms-setup role
  when: "'amibuild' in ansible_run_tags or 'ec2provision' in ansible_run_tags or 'oem_agent_target_promote' in ansible_run_tags or 'oem_agent_install' in ansible_run_tags"

- import_tasks: update_target_properties.yml
  tags:
    - update_target_properties
    - oem_agent_install
  # Added when clause as tags were ignored when this role is called from oracle-oms-setup role
  # This task shoudn't be run when run from oracle-oms-setup role
  when: "'update_target_properties' in ansible_run_tags or 'oem_agent_install' in ansible_run_tags"

# Run prior to gold image so all agents have the fix
- import_tasks: agent_startup_delay.yml
  tags:
    - amibuild
    - ec2provision
    - oem_agent_startup_delay
    - oem_agent_install
    - agent_ru_upgrade

# Perform agent tuning
- import_tasks: agent_tuning.yml
  tags:
    - amibuild
    - ec2provision
    - oem_agent_tuning
    - oem_agent_install
    - agent_ru_upgrade

- import_tasks: agent_gold_image.yml
  tags:
    - amibuild
    - ec2provision
    - oem_agent_gold_image
  # Added when clause as tags were ignored when this role is called from oracle-oms-setup role
  # This task shoudn't be run when run from oracle-oms-setup role
  when: "'amibuild' in ansible_run_tags or 'ec2provision' in ansible_run_tags or 'oem_agent_gold_image' in ansible_run_tags"

- import_tasks: cleanup.yml
  tags:
    - amibuild
    - ec2provision
    - oem_agent_install
    - agent_ru_upgrade

- import_tasks: oem_agent_deinstall.yml
  tags:
    - never
    - deinstall
  # Added when clause as tags were ignored when run from oracle-oms-setup role
  when: "'deinstall' in ansible_run_tags"
