#!/bin/bash
#
# Created Named Credential OEM_DB for access to the EMREP database.
# This is created as a template as it includes the SYSMAN password.

. ~/.bash_profile
export JAVA_HOME=$ORACLE_HOME/jdk/jre

{{ emcli }} create_named_credential -cred_name=OEM_DB -target_name=EMREP -cred_type=DBCreds -attributes="DBUserName:sysman;DBPassword:{{ db_sysman_password }}" -auth_target_type=oracle_database -cred_scope=instance -target_type=oracle_database