#!/bin/bash
#
# Created Named Credential OEM_DB for access to the EMREP database.
# This is created as a template as it includes the SYSMAN password.

. ~/.bash_profile
export ORACLE_HOME={{ oem_mw_home }}
export JAVA_HOME=$ORACLE_HOME/oracle_common/jdk/jre

SYSMAN_PASSWORD=$(aws secretsmanager get-secret-value --secret-id /oracle/database/EMREP/shared-passwords --region eu-west-2 --query SecretString --output text | jq -r .sysman)

{{ emcli }} create_named_credential -cred_name=OEM_DB -target_name=EMREP -cred_type=DBCreds -attributes="DBUserName:sysman;DBPassword:${SYSMAN_PASSWORD}" -auth_target_type=oracle_database -cred_scope=instance -target_type=oracle_database

unset SYSMAN_PASSWORD