#!/bin/bash

. ~/.bash_profile
export ORACLE_HOME=/u01/app/oracle/product/mw135
export JAVA_HOME=$ORACLE_HOME/jdk/jre

# An emcli session may already be active.  Check if we can run a sync
# and only if this fails attempt to create a new session.
{{ emcli }} sync
if [[ $? -gt 0 ]]; then
   echo "{{ db_sysman_password }}" | {{ emcli }} login -username=sysman
   RC=$?
   if [[ $RC -gt 0 ]]; then
      exit $RC
   fi
   {{ emcli }} sync
   echo "Logged in."
fi
