#!/bin/bash
#
# Modify Named Credential OEM_DB for access to the EMREP database.
# This is created as a template as it includes the SYSMAN password.

. ~/.bash_profile
export JAVA_HOME=$ORACLE_HOME/jdk/jre

{{ emcli }} modify_named_credential -cred_name=OEM_DB -attributes="DBUserName:sysman;DBPassword:{{ db_sysman_password }}" -test