#!/bin/bash
#
# Modify Named Credential OEM_DB for access to the EMREP database.
# This is created as a template as it includes the SYSMAN password.

. ~/.bash_profile
export ORACLE_HOME={{ oem_mw_home }}
export JAVA_HOME=$ORACLE_HOME/oracle_common/jdk/jre

SYSMAN_PASSWORD=$(aws secretsmanager get-secret-value --secret-id /oracle/database/EMREP/shared-passwords --region eu-west-2 --query SecretString --output text | jq -r .sysman)

{{ emcli }} modify_named_credential -cred_name=OEM_DB -attributes="DBUserName:sysman;DBPassword:${SYSMAN_PASSWORD}" -test

unset SYSMAN_PASSWORD