<?xml version="1.0" encoding="UTF-8"?>
<RuleSet xmlns="http://www.oracle.com/EnterpriseManager/Incident/Rules" isEnabled="true" isGlobalCompressionEnabled="false" isOOB="false" EMVersion="13.5.0.0.0">
   <RulesetName>{{ rule_set_name }}</RulesetName>
   <RulesetDescription>Rule set to create and manage hmpps-oem incidents</RulesetDescription>
   <TargetSelectionType>{{ target_selection_type }}</TargetSelectionType>
   <SourceSelectionType>TARGET</SourceSelectionType>
   <Rule isEnabled="true" isGlobalCompressionEnabled="true" ruleType="EVENT">
      <RuleName>Incident creation rule for high-availability events</RuleName>
      <RuleDescription>Rule to create incidents for high-availability events</RuleDescription>
      <EventClass>metric_alert</EventClass>
      <AttributeForRule>
         <AttrValue>metric_alert</AttrValue>
         <OperatorCode>EQUAL</OperatorCode>
         <Type>SYSTEM_ATTRIBUTE</Type>
         <AttrName>sys_event_class</AttrName>
      </AttributeForRule>
      <AttributeForRule>
         <AttrValue>16</AttrValue>
         <OperatorCode>IN</OperatorCode>
         <Type>SYSTEM_ATTRIBUTE</Type>
         <AttrName>sys_severity</AttrName>
      </AttributeForRule>
      <AttributeForRule>
         <AttrValue>3</AttrValue>
         <AttrValue>4</AttrValue>
         <OperatorCode>NOT_IN</OperatorCode>
         <Type>SYSTEM_ATTRIBUTE</Type>
         <AttrName>sys_processing_status</AttrName>
      </AttributeForRule>
      <RuleCondAction>
         <ActionTypes>CREATE_INCIDENT,GROUP_INCIDENT</ActionTypes>
         <IsRepeat>0</IsRepeat>
         <RepeatFreq>0</RepeatFreq>
         <RepeatCount>0</RepeatCount>
         <IsDuration>0</IsDuration>
         <Duration>0</Duration>
         <DurationUnit>2</DurationUnit>
         <IncidentGroupingAttribute>
            <DataType>NUMBER</DataType>
            <AttrName>durationUnit</AttrName>
            <AttrValue>2</AttrValue>
         </IncidentGroupingAttribute>
         <IncidentGroupingAttribute>
            <DataType>NUMBER</DataType>
            <AttrName>durationValue</AttrName>
            <AttrValue>1</AttrValue>
         </IncidentGroupingAttribute>
         <IncidentGroupingAttribute>
            <DataType>STRING</DataType>
            <AttrName>target_name</AttrName>
            <AttrValue>GROUP_BY</AttrValue>
         </IncidentGroupingAttribute>
         <IncidentGroupingMessage>
            <ClearEventMsg>Target Availability events on target %TARGET_NAME% are cleared</ClearEventMsg>
            <ExceptionalEventMsg>There are %EVENT_COUNT% Target Availability events on target %TARGET_NAME%</ExceptionalEventMsg>
            <ExceptionalEventMsgParams>%EVENT_COUNT%;</ExceptionalEventMsgParams>
         </IncidentGroupingMessage>
      </RuleCondAction>
   </Rule>
   <Rule isEnabled="true" isGlobalCompressionEnabled="true" ruleType="EVENT">
      <RuleName>Create incident for critical metric alerts</RuleName>
      <RuleDescription>Rule to create incidents for critical metric alert events.</RuleDescription>
      <EventClass>metric_alert</EventClass>
      <AttributeForRule>
         <AttrValue>metric_alert</AttrValue>
         <OperatorCode>EQUAL</OperatorCode>
         <Type>SYSTEM_ATTRIBUTE</Type>
         <AttrName>sys_event_class</AttrName>
      </AttributeForRule>
      <AttributeForRule>
         <AttrValue>16</AttrValue>
         <OperatorCode>IN</OperatorCode>
         <Type>SYSTEM_ATTRIBUTE</Type>
         <AttrName>sys_severity</AttrName>
      </AttributeForRule>
      <AttributeForRule>
         <AttrValue>3</AttrValue>
         <AttrValue>4</AttrValue>
         <OperatorCode>NOT_IN</OperatorCode>
         <Type>SYSTEM_ATTRIBUTE</Type>
         <AttrName>sys_processing_status</AttrName>
      </AttributeForRule>
      <RuleCondAction>
         <ActionTypes>CREATE_INCIDENT</ActionTypes>
         <IsRepeat>0</IsRepeat>
         <RepeatFreq>0</RepeatFreq>
         <RepeatCount>0</RepeatCount>
         <IsDuration>0</IsDuration>
         <Duration>0</Duration>
         <DurationUnit>2</DurationUnit>
      </RuleCondAction>
   </Rule>
   <Rule isEnabled="true" isGlobalCompressionEnabled="true" ruleType="EVENT">
      <RuleName>Data Guard Status</RuleName>
      <RuleDescription>Create incident for all Data Guard Events</RuleDescription>
      <EventClass>metric_alert</EventClass>
      <AttributeForRule>
         <AttrValue>metric_alert</AttrValue>
         <OperatorCode>EQUAL</OperatorCode>
         <Type>SYSTEM_ATTRIBUTE</Type>
         <AttrName>sys_event_class</AttrName>
      </AttributeForRule>
      <AttributeForRule>
         <AttrValue>3</AttrValue>
         <OperatorCode>NOT_IN</OperatorCode>
         <Type>SYSTEM_ATTRIBUTE</Type>
         <AttrName>sys_processing_status</AttrName>
      </AttributeForRule>
      <EventClassSpecificAttributeGroup>
         <EventClassSpecificAttribute>
            <AttrName>sys_target_type</AttrName>
            <OperatorCode>EQUAL</OperatorCode>
            <AttrValue>oracle_database</AttrValue>
         </EventClassSpecificAttribute>
         <EventClassSpecificAttribute>
            <AttrName>sys_severity</AttrName>
            <OperatorCode>IN</OperatorCode>
            <AttrValue>0</AttrValue>
            <AttrValue>16</AttrValue>
            <AttrValue>8</AttrValue>
         </EventClassSpecificAttribute>
         <EventClassSpecificAttribute>
            <AttrName>sys_processing_status</AttrName>
            <OperatorCode>NOT_IN</OperatorCode>
            <AttrValue>3</AttrValue>
         </EventClassSpecificAttribute>
         <EventClassSpecificAttribute>
            <AttrName>metric_column|metric_alert</AttrName>
            <OperatorCode>EQUAL</OperatorCode>
            <AttrValue>dg_status</AttrValue>
         </EventClassSpecificAttribute>
         <EventClassSpecificAttribute>
            <AttrName>metric_group|metric_alert</AttrName>
            <OperatorCode>EQUAL</OperatorCode>
            <AttrValue>dataguard</AttrValue>
         </EventClassSpecificAttribute>
      </EventClassSpecificAttributeGroup>
      <RuleCondAction>
         <ActionTypes>CREATE_INCIDENT,GROUP_INCIDENT</ActionTypes>
         <IsRepeat>0</IsRepeat>
         <RepeatFreq>0</RepeatFreq>
         <RepeatCount>0</RepeatCount>
         <IsDuration>0</IsDuration>
         <Duration>0</Duration>
         <DurationUnit>2</DurationUnit>
         <IncidentGroupingAttribute>
            <DataType>NUMBER</DataType>
            <AttrName>durationUnit</AttrName>
            <AttrValue>2</AttrValue>
         </IncidentGroupingAttribute>
         <IncidentGroupingAttribute>
            <DataType>NUMBER</DataType>
            <AttrName>durationValue</AttrName>
            <AttrValue>1</AttrValue>
         </IncidentGroupingAttribute>
         <IncidentGroupingAttribute>
            <DataType>STRING</DataType>
            <AttrName>target_name</AttrName>
            <AttrValue>GROUP_BY</AttrValue>
         </IncidentGroupingAttribute>
      </RuleCondAction>
   </Rule>
   <Rule isEnabled="true" isGlobalCompressionEnabled="true" ruleType="EVENT">
      <RuleName>Clear metric alert events older than 7 days</RuleName>
      <RuleDescription>Rule to clear metric alert events older than 7 days.</RuleDescription>
      <EventClass>metric_alert</EventClass>
      <AttributeForRule>
         <AttrValue>metric_alert</AttrValue>
         <OperatorCode>EQUAL</OperatorCode>
         <Type>SYSTEM_ATTRIBUTE</Type>
         <AttrName>sys_event_class</AttrName>
      </AttributeForRule>
      <AttributeForRule>
         <AttrValue>3</AttrValue>
         <AttrValue>4</AttrValue>
         <OperatorCode>NOT_IN</OperatorCode>
         <Type>SYSTEM_ATTRIBUTE</Type>
         <AttrName>sys_processing_status</AttrName>
      </AttributeForRule>
      <RuleCondAction>
         <ActionTypes>CLEAR_EVENT</ActionTypes>
         <IsRepeat>0</IsRepeat>
         <RepeatFreq>0</RepeatFreq>
         <RepeatCount>0</RepeatCount>
         <IsDuration>1</IsDuration>
         <Duration>7</Duration>
         <DurationUnit>3</DurationUnit>
         <AttributeForCondAction>
            <AttrValue>0</AttrValue>
            <OperatorCode>1</OperatorCode>
            <Type>SYSTEM_ATTRIBUTE</Type>
            <AttrName>sys_acknowledge</AttrName>
         </AttributeForCondAction>
         <AttributeForCondAction>
            <AttrValue>1</AttrValue>
            <OperatorCode>1</OperatorCode>
            <Type>SYSTEM_ATTRIBUTE</Type>
            <AttrName>sys_open_status</AttrName>
         </AttributeForCondAction>
      </RuleCondAction>
   </Rule>
   <Rule isEnabled="true" isGlobalCompressionEnabled="true" ruleType="EVENT">
      <RuleName>Clear blackout infrastructure alerts older than 1 day</RuleName>
      <RuleDescription>Rule to clear blackout infrastructure alerts which are older than 1 day.</RuleDescription>
      <EventClass>blackout_event</EventClass>
      <AttributeForRule>
         <AttrValue>blackout_event</AttrValue>
         <OperatorCode>EQUAL</OperatorCode>
         <Type>SYSTEM_ATTRIBUTE</Type>
         <AttrName>sys_event_class</AttrName>
      </AttributeForRule>
      <AttributeForRule>
         <AttrValue>3</AttrValue>
         <AttrValue>4</AttrValue>
         <OperatorCode>NOT_IN</OperatorCode>
         <Type>SYSTEM_ATTRIBUTE</Type>
         <AttrName>sys_processing_status</AttrName>
      </AttributeForRule>
      <RuleCondAction>
         <ActionTypes>CLEAR_EVENT</ActionTypes>
         <IsRepeat>0</IsRepeat>
         <RepeatFreq>0</RepeatFreq>
         <RepeatCount>0</RepeatCount>
         <IsDuration>1</IsDuration>
         <Duration>1</Duration>
         <DurationUnit>3</DurationUnit>
         <AttributeForCondAction>
            <AttrValue>1</AttrValue>
            <OperatorCode>1</OperatorCode>
            <Type>SYSTEM_ATTRIBUTE</Type>
            <AttrName>sys_open_status</AttrName>
         </AttributeForCondAction>
      </RuleCondAction>
   </Rule>
   <Rule isEnabled="true" isGlobalCompressionEnabled="true" ruleType="EVENT">
      <RuleName>Create incident for compliance score violations</RuleName>
      <RuleDescription>Rule to create incidents for compliance score violation events.</RuleDescription>
      <EventClass>cs_score</EventClass>
      <AttributeForRule>
         <AttrValue>cs_score</AttrValue>
         <OperatorCode>EQUAL</OperatorCode>
         <Type>SYSTEM_ATTRIBUTE</Type>
         <AttrName>sys_event_class</AttrName>
      </AttributeForRule>
      <AttributeForRule>
         <AttrValue>16</AttrValue>
         <OperatorCode>IN</OperatorCode>
         <Type>SYSTEM_ATTRIBUTE</Type>
         <AttrName>sys_severity</AttrName>
      </AttributeForRule>
      <AttributeForRule>
         <AttrValue>3</AttrValue>
         <AttrValue>4</AttrValue>
         <OperatorCode>NOT_IN</OperatorCode>
         <Type>SYSTEM_ATTRIBUTE</Type>
         <AttrName>sys_processing_status</AttrName>
      </AttributeForRule>
      <RuleCondAction>
         <ActionTypes>CREATE_INCIDENT,GROUP_INCIDENT</ActionTypes>
         <IsRepeat>0</IsRepeat>
         <RepeatFreq>0</RepeatFreq>
         <RepeatCount>0</RepeatCount>
         <IsDuration>0</IsDuration>
         <Duration>0</Duration>
         <DurationUnit>2</DurationUnit>
         <IncidentGroupingAttribute>
            <DataType>NUMBER</DataType>
            <AttrName>durationUnit</AttrName>
            <AttrValue>2</AttrValue>
         </IncidentGroupingAttribute>
         <IncidentGroupingAttribute>
            <DataType>NUMBER</DataType>
            <AttrName>durationValue</AttrName>
            <AttrValue>1</AttrValue>
         </IncidentGroupingAttribute>
         <IncidentGroupingAttribute>
            <DataType>STRING</DataType>
            <AttrName>target_name</AttrName>
            <AttrValue>GROUP_BY</AttrValue>
         </IncidentGroupingAttribute>
      </RuleCondAction>
   </Rule>
   <Rule isEnabled="true" isGlobalCompressionEnabled="true" ruleType="EVENT">
      <RuleName>Create incident for target monitoring disruption</RuleName>
      <RuleDescription>Rule to create incidents for critical target monitoring disruption.</RuleDescription>
      <EventClass>mntr_disruption</EventClass>
      <AttributeForRule>
         <AttrValue>mntr_disruption</AttrValue>
         <OperatorCode>EQUAL</OperatorCode>
         <Type>SYSTEM_ATTRIBUTE</Type>
         <AttrName>sys_event_class</AttrName>
      </AttributeForRule>
      <AttributeForRule>
         <AttrValue>16</AttrValue>
         <OperatorCode>IN</OperatorCode>
         <Type>SYSTEM_ATTRIBUTE</Type>
         <AttrName>sys_severity</AttrName>
      </AttributeForRule>
      <AttributeForRule>
         <AttrValue>3</AttrValue>
         <AttrValue>4</AttrValue>
         <OperatorCode>NOT_IN</OperatorCode>
         <Type>SYSTEM_ATTRIBUTE</Type>
         <AttrName>sys_processing_status</AttrName>
      </AttributeForRule>
      <RuleCondAction>
         <ActionTypes>CREATE_INCIDENT,GROUP_INCIDENT</ActionTypes>
         <IsRepeat>0</IsRepeat>
         <RepeatFreq>0</RepeatFreq>
         <RepeatCount>0</RepeatCount>
         <IsDuration>0</IsDuration>
         <Duration>0</Duration>
         <DurationUnit>2</DurationUnit>
         <IncidentGroupingAttribute>
            <DataType>NUMBER</DataType>
            <AttrName>durationUnit</AttrName>
            <AttrValue>2</AttrValue>
         </IncidentGroupingAttribute>
         <IncidentGroupingAttribute>
            <DataType>NUMBER</DataType>
            <AttrName>durationValue</AttrName>
            <AttrValue>1</AttrValue>
         </IncidentGroupingAttribute>
         <IncidentGroupingAttribute>
            <DataType>STRING</DataType>
            <AttrName>target_name</AttrName>
            <AttrValue>GROUP_BY</AttrValue>
         </IncidentGroupingAttribute>
      </RuleCondAction>
   </Rule>
   <Rule isEnabled="true" isGlobalCompressionEnabled="true" ruleType="EVENT">
      <RuleName>Create incident for critical Service Level Agreement alerts</RuleName>
      <RuleDescription>Rule to create incidents for critical service level agreement alert events.</RuleDescription>
      <EventClass>sla_alert</EventClass>
      <AttributeForRule>
         <AttrValue>sla_alert</AttrValue>
         <OperatorCode>EQUAL</OperatorCode>
         <Type>SYSTEM_ATTRIBUTE</Type>
         <AttrName>sys_event_class</AttrName>
      </AttributeForRule>
      <AttributeForRule>
         <AttrValue>16</AttrValue>
         <OperatorCode>IN</OperatorCode>
         <Type>SYSTEM_ATTRIBUTE</Type>
         <AttrName>sys_severity</AttrName>
      </AttributeForRule>
      <AttributeForRule>
         <AttrValue>3</AttrValue>
         <AttrValue>4</AttrValue>
         <OperatorCode>NOT_IN</OperatorCode>
         <Type>SYSTEM_ATTRIBUTE</Type>
         <AttrName>sys_processing_status</AttrName>
      </AttributeForRule>
      <RuleCondAction>
         <ActionTypes>CREATE_INCIDENT,GROUP_INCIDENT</ActionTypes>
         <IsRepeat>0</IsRepeat>
         <RepeatFreq>0</RepeatFreq>
         <RepeatCount>0</RepeatCount>
         <IsDuration>0</IsDuration>
         <Duration>0</Duration>
         <DurationUnit>2</DurationUnit>
         <IncidentGroupingAttribute>
            <DataType>NUMBER</DataType>
            <AttrName>durationUnit</AttrName>
            <AttrValue>2</AttrValue>
         </IncidentGroupingAttribute>
         <IncidentGroupingAttribute>
            <DataType>NUMBER</DataType>
            <AttrName>durationValue</AttrName>
            <AttrValue>1</AttrValue>
         </IncidentGroupingAttribute>
         <IncidentGroupingAttribute>
            <DataType>STRING</DataType>
            <AttrName>target_name</AttrName>
            <AttrValue>GROUP_BY</AttrValue>
         </IncidentGroupingAttribute>
      </RuleCondAction>
   </Rule>
   <Rule isEnabled="true" isGlobalCompressionEnabled="true" ruleType="EVENT">
      <RuleName>Create incident for service infrastructure alerts</RuleName>
      <RuleDescription>Rule to create incidents for service infrastructure alert events</RuleDescription>
      <EventClass>svc_infra_alert</EventClass>
      <AttributeForRule>
         <AttrValue>svc_infra_alert</AttrValue>
         <OperatorCode>EQUAL</OperatorCode>
         <Type>SYSTEM_ATTRIBUTE</Type>
         <AttrName>sys_event_class</AttrName>
      </AttributeForRule>
      <AttributeForRule>
         <AttrValue>16</AttrValue>
         <OperatorCode>IN</OperatorCode>
         <Type>SYSTEM_ATTRIBUTE</Type>
         <AttrName>sys_severity</AttrName>
      </AttributeForRule>
      <AttributeForRule>
         <AttrValue>3</AttrValue>
         <AttrValue>4</AttrValue>
         <OperatorCode>NOT_IN</OperatorCode>
         <Type>SYSTEM_ATTRIBUTE</Type>
         <AttrName>sys_processing_status</AttrName>
      </AttributeForRule>
      <RuleCondAction>
         <ActionTypes>CREATE_INCIDENT,GROUP_INCIDENT</ActionTypes>
         <IsRepeat>0</IsRepeat>
         <RepeatFreq>0</RepeatFreq>
         <RepeatCount>0</RepeatCount>
         <IsDuration>0</IsDuration>
         <Duration>0</Duration>
         <DurationUnit>2</DurationUnit>
         <IncidentGroupingAttribute>
            <DataType>NUMBER</DataType>
            <AttrName>durationUnit</AttrName>
            <AttrValue>2</AttrValue>
         </IncidentGroupingAttribute>
         <IncidentGroupingAttribute>
            <DataType>NUMBER</DataType>
            <AttrName>durationValue</AttrName>
            <AttrValue>1</AttrValue>
         </IncidentGroupingAttribute>
         <IncidentGroupingAttribute>
            <DataType>STRING</DataType>
            <AttrName>target_name</AttrName>
            <AttrValue>GROUP_BY</AttrValue>
         </IncidentGroupingAttribute>
      </RuleCondAction>
   </Rule>
   <Rule isEnabled="true" isGlobalCompressionEnabled="true" ruleType="EVENT">
      <RuleName>Incident creation rule for down and agent unreachable availability status for agents and hosts</RuleName>
      <RuleDescription>Rule to create target availability incidents when a agent or host goes into down or agent unreachable state.</RuleDescription>
      <EventClass>target_availability</EventClass>
      <AttributeForRule>
         <AttrValue>target_availability</AttrValue>
         <OperatorCode>EQUAL</OperatorCode>
         <Type>SYSTEM_ATTRIBUTE</Type>
         <AttrName>sys_event_class</AttrName>
      </AttributeForRule>
      <AttributeForRule>
         <AttrValue>3</AttrValue>
         <OperatorCode>NOT_IN</OperatorCode>
         <Type>SYSTEM_ATTRIBUTE</Type>
         <AttrName>sys_processing_status</AttrName>
      </AttributeForRule>
      <EventClassSpecificAttributeGroup>
         <EventClassSpecificAttribute>
            <AttrName>sys_target_type</AttrName>
            <OperatorCode>EQUAL</OperatorCode>
            <AttrValue>oracle_emd</AttrValue>
         </EventClassSpecificAttribute>
         <EventClassSpecificAttribute>
            <AttrName>avail_severity|target_availability</AttrName>
            <OperatorCode>IN</OperatorCode>
            <AttrValue>125</AttrValue>
            <AttrValue>25</AttrValue>
         </EventClassSpecificAttribute>
      </EventClassSpecificAttributeGroup>
      <EventClassSpecificAttributeGroup>
         <EventClassSpecificAttribute>
            <AttrName>sys_target_type</AttrName>
            <OperatorCode>EQUAL</OperatorCode>
            <AttrValue>host</AttrValue>
         </EventClassSpecificAttribute>
         <EventClassSpecificAttribute>
            <AttrName>avail_severity|target_availability</AttrName>
            <OperatorCode>IN</OperatorCode>
            <AttrValue>125</AttrValue>
            <AttrValue>15</AttrValue>
            <AttrValue>25</AttrValue>
            <AttrValue>45</AttrValue>
         </EventClassSpecificAttribute>
      </EventClassSpecificAttributeGroup>
      <RuleCondAction>
         <ActionTypes>CREATE_INCIDENT,GROUP_INCIDENT</ActionTypes>
         <IsRepeat>0</IsRepeat>
         <RepeatFreq>0</RepeatFreq>
         <RepeatCount>0</RepeatCount>
         <IsDuration>0</IsDuration>
         <Duration>0</Duration>
         <DurationUnit>2</DurationUnit>
         <IncidentGroupingAttribute>
            <DataType>NUMBER</DataType>
            <AttrName>durationUnit</AttrName>
            <AttrValue>2</AttrValue>
         </IncidentGroupingAttribute>
         <IncidentGroupingAttribute>
            <DataType>NUMBER</DataType>
            <AttrName>durationValue</AttrName>
            <AttrValue>1</AttrValue>
         </IncidentGroupingAttribute>
         <IncidentGroupingAttribute>
            <DataType>STRING</DataType>
            <AttrName>target_name</AttrName>
            <AttrValue>GROUP_BY</AttrValue>
         </IncidentGroupingAttribute>
      </RuleCondAction>
   </Rule>
   <Rule isEnabled="true" isGlobalCompressionEnabled="true" ruleType="EVENT">
      <RuleName>Incident creation rule for a Target Down availability status</RuleName>
      <RuleDescription>Rule to create incident when a target goes down.</RuleDescription>
      <EventClass>target_availability</EventClass>
      <AttributeForRule>
         <AttrValue>target_availability</AttrValue>
         <OperatorCode>EQUAL</OperatorCode>
         <Type>SYSTEM_ATTRIBUTE</Type>
         <AttrName>sys_event_class</AttrName>
      </AttributeForRule>
      <AttributeForRule>
         <AttrValue>3</AttrValue>
         <OperatorCode>NOT_IN</OperatorCode>
         <Type>SYSTEM_ATTRIBUTE</Type>
         <AttrName>sys_processing_status</AttrName>
      </AttributeForRule>
      <EventClassSpecificAttributeGroup>
         <EventClassSpecificAttribute>
            <AttrName>avail_severity|target_availability</AttrName>
            <OperatorCode>IN</OperatorCode>
            <AttrValue>25</AttrValue>
         </EventClassSpecificAttribute>
      </EventClassSpecificAttributeGroup>
      <RuleCondAction>
         <ActionTypes>CREATE_INCIDENT,GROUP_INCIDENT</ActionTypes>
         <IsRepeat>0</IsRepeat>
         <RepeatFreq>0</RepeatFreq>
         <RepeatCount>0</RepeatCount>
         <IsDuration>0</IsDuration>
         <Duration>0</Duration>
         <DurationUnit>2</DurationUnit>
         <IncidentGroupingAttribute>
            <DataType>NUMBER</DataType>
            <AttrName>durationUnit</AttrName>
            <AttrValue>2</AttrValue>
         </IncidentGroupingAttribute>
         <IncidentGroupingAttribute>
            <DataType>NUMBER</DataType>
            <AttrName>durationValue</AttrName>
            <AttrValue>1</AttrValue>
         </IncidentGroupingAttribute>
         <IncidentGroupingAttribute>
            <DataType>STRING</DataType>
            <AttrName>target_name</AttrName>
            <AttrValue>GROUP_BY</AttrValue>
         </IncidentGroupingAttribute>
      </RuleCondAction>
   </Rule>
   <Rule isEnabled="true" isGlobalCompressionEnabled="true" ruleType="EVENT">
      <RuleName>Incident creation Rule for target error</RuleName>
      <RuleDescription>Rule to create target availability error incidents for all targets.</RuleDescription>
      <EventClass>target_availability</EventClass>
      <AttributeForRule>
         <AttrValue>target_availability</AttrValue>
         <OperatorCode>EQUAL</OperatorCode>
         <Type>SYSTEM_ATTRIBUTE</Type>
         <AttrName>sys_event_class</AttrName>
      </AttributeForRule>
      <AttributeForRule>
         <AttrValue>3</AttrValue>
         <OperatorCode>NOT_IN</OperatorCode>
         <Type>SYSTEM_ATTRIBUTE</Type>
         <AttrName>sys_processing_status</AttrName>
      </AttributeForRule>
      <EventClassSpecificAttributeGroup>
         <EventClassSpecificAttribute>
            <AttrName>avail_severity|target_availability</AttrName>
            <OperatorCode>IN</OperatorCode>
            <AttrValue>325</AttrValue>
         </EventClassSpecificAttribute>
      </EventClassSpecificAttributeGroup>
      <RuleCondAction>
         <ActionTypes>CREATE_INCIDENT,GROUP_INCIDENT</ActionTypes>
         <IsRepeat>0</IsRepeat>
         <RepeatFreq>0</RepeatFreq>
         <RepeatCount>0</RepeatCount>
         <IsDuration>0</IsDuration>
         <Duration>0</Duration>
         <DurationUnit>2</DurationUnit>
         <IncidentGroupingAttribute>
            <DataType>NUMBER</DataType>
            <AttrName>durationUnit</AttrName>
            <AttrValue>2</AttrValue>
         </IncidentGroupingAttribute>
         <IncidentGroupingAttribute>
            <DataType>NUMBER</DataType>
            <AttrName>durationValue</AttrName>
            <AttrValue>1</AttrValue>
         </IncidentGroupingAttribute>
         <IncidentGroupingAttribute>
            <DataType>STRING</DataType>
            <AttrName>target_name</AttrName>
            <AttrValue>GROUP_BY</AttrValue>
         </IncidentGroupingAttribute>
      </RuleCondAction>
   </Rule>
   <Rule isEnabled="true" isGlobalCompressionEnabled="true" ruleType="INCIDENT">
      <RuleName>Notification rule to slack</RuleName>
      <RuleDescription>Rule to notify slack of incidents</RuleDescription>
      <AttributeForRule>
         <AttrValue>MissionCritical</AttrValue>
         <AttrValue>Production</AttrValue>
         <OperatorCode>IN</OperatorCode>
         <Type>SYSTEM_ATTRIBUTE</Type>
         <AttrName>sys_target_lifecycle_status</AttrName>
      </AttributeForRule>
      <AttributeForRule>
         <AttrValue>Incident creation rule for high-availability events</AttrValue>
         <AttrValue>Create incident for critical metric alerts</AttrValue>
         <AttrValue>Clear metric alert events older than 7 days</AttrValue>
         <AttrValue>Clear blackout infrastructure alerts older than 1 day</AttrValue>
         <AttrValue>Create incident for compliance score violations</AttrValue>
         <AttrValue>Create incident for target monitoring disruption</AttrValue>
         <AttrValue>Create incident for critical Service Level Agreement alerts</AttrValue>
         <AttrValue>Create incident for service infrastructure alerts</AttrValue>
         <AttrValue>Incident creation rule for down and agent unreachable availability status for agents and hosts</AttrValue>
         <AttrValue>Incident creation rule for a Target Down availability status</AttrValue>
         <AttrValue>Incident creation Rule for target error</AttrValue>
         <OperatorCode>IN</OperatorCode>
         <Type>SYSTEM_ATTRIBUTE</Type>
         <AttrName>sys_creation_rule_guid</AttrName>
      </AttributeForRule>
      <AttributeForRule>
         <AttrValue>0</AttrValue>
         <AttrValue>16</AttrValue>
         <AttrValue>32</AttrValue>
         <OperatorCode>IN</OperatorCode>
         <Type>SYSTEM_ATTRIBUTE</Type>
         <AttrName>sys_severity</AttrName>
      </AttributeForRule>
      <RuleCondAction>
         <ActionTypes>ADVANCED_NOTIFICATION</ActionTypes>
         <IsRepeat>0</IsRepeat>
         <RepeatFreq>0</RepeatFreq>
         <RepeatCount>0</RepeatCount>
         <IsDuration>0</IsDuration>
         <Duration>0</Duration>
         <DurationUnit>2</DurationUnit>
         <RuleAdvNotification>
            <AppliedTo>INCIDENT</AppliedTo>
            <DeviceName>SLACK_NOTIFICATION:PLSQL</DeviceName>
         </RuleAdvNotification>
      </RuleCondAction>
   </Rule>
{% if rule_set_name == "HMPPS OEM Rule Set With OEM Notifications" %}
   <Rule isEnabled="true" isGlobalCompressionEnabled="true" ruleType="INCIDENT">
      <RuleName>Send Slack Notification for All Data Guard Incidents</RuleName>
      <RuleDescription>Additional Slack Notification step in addition to all other incidents for the Data Guard Status metric. For Data Guard we want a notification for Warnings in addition to Errors, as these are more operationally significant than warnings for other metrics.</RuleDescription>
      <AttributeForRule>
         <AttrValue>Data Guard Status</AttrValue>
         <OperatorCode>IN</OperatorCode>
         <Type>SYSTEM_ATTRIBUTE</Type>
         <AttrName>sys_creation_rule_guid</AttrName>
      </AttributeForRule>
      <RuleCondAction>
         <ActionTypes>ADVANCED_NOTIFICATION</ActionTypes>
         <IsRepeat>0</IsRepeat>
         <RepeatFreq>0</RepeatFreq>
         <RepeatCount>0</RepeatCount>
         <IsDuration>0</IsDuration>
         <Duration>0</Duration>
         <DurationUnit>2</DurationUnit>
         <RuleAdvNotification>
            <AppliedTo>INCIDENT</AppliedTo>
            <DeviceName>SLACK_NOTIFICATION:PLSQL</DeviceName>
         </RuleAdvNotification>
      </RuleCondAction>
   </Rule>
   <SourceObjectSpecificAttributeGroup>
      <SourceObjectSpecificAttribute>
         <AttrName>sys_target_guid</AttrName>
         <OperatorCode>IN</OperatorCode>
         <AttrValue>Notifications Allowed|composite</AttrValue>
      </SourceObjectSpecificAttribute>
   </SourceObjectSpecificAttributeGroup>
{% endif %}
</RuleSet>

