CREATE OR REPLACE PACKAGE {{ oracle_goldengate_sql_owner }}.MIS_GG_CTRL_PKG AUTHID DEFINER AS
/*
 *  NOMIS MIS Goldengate code.
 *  
 *  Description:    This script creates procedures to support
 *                      Oracle Goldengate control processes for Prison-NOMIS release 2.0.
 *                  Based on MIS_STRM_PKG1
 *  
 *                      This script should be executed by the MIS user.
 *  
 *  Version:     2.0
 *
 *  Author:    R. Taylor - EDS UK Ltd.
 *
 *  Date:    Monday, 21 May 2007.
 * 
 *  Change History:  
 *      Version:  Date:      Author:  Description:  
 *
 *      1.1.0    21/05/07  R. Taylor  Initial version for 1.1
 *      ...
 *      2.0        12/08/26  Migration  Migrated for GoldenGate 19c. Added new procedures to support GoldenGate 19c.
 */

    -- Packaged function apply_process_error_count returns the number of apply processes
    -- for a particular staging table owner (if supplied) that have error status
    FUNCTION apply_process_error_count(
        p_staging_owner   IN     varchar2 DEFAULT NULL,
        p_ignore_inactive   IN     boolean DEFAULT TRUE
    ) RETURN number;

    -- Packaged procedure set_stop_points
    -- determines whether a GoldenGate stop point exists for a staging owner.
    PROCEDURE set_stop_points (
        p_staging_owner IN     varchar2,
        p_points_set   OUT    boolean);

    -- Packaged procedure wait_stop_points
    -- checks whether GoldenGate has applied through the outstanding stop SCN.
    PROCEDURE wait_stop_points (
        p_staging_owner IN     varchar2,
        p_continue   OUT    boolean);

    -- Packaged function replicat_running returns TRUE if the specified replicat process is running.
    FUNCTION replicat_running(
        p_apply_name 	IN     varchar2 DEFAULT NULL
    ) RETURN boolean;

    -- Packaged function extract_running returns TRUE if the specified extract process is running.
    FUNCTION extract_running(
        p_capture_name 	IN     varchar2 DEFAULT NULL
    ) RETURN boolean;

    -- Packaged procedure start_extract starts all extract processes
    -- or those associated with a particular staging table owner (if supplied)
    -- Will raise an exception if source or target tables are missing or have
    -- incompatible column types (data dictionaries are re-compared).
    -- Resets capture rules and transforms before starting capture unless default overridden.
    PROCEDURE start_extract(
        p_staging_owner IN     varchar2 DEFAULT NULL,
        p_refresh_flag 	IN     BOOLEAN  DEFAULT TRUE);


    -- Packaged procedure stop_extract stops all extract processes
    -- or those associated with a particular staging table owner (if supplied)
    PROCEDURE stop_extract(
        p_staging_owner IN     varchar2 DEFAULT NULL,
        p_force 	IN     BOOLEAN  DEFAULT FALSE);


    -- Packaged procedure drop_extract drops all extract processes
    -- or those associated with a particular staging table owner (if supplied)
    PROCEDURE drop_extract(
        p_staging_owner IN     varchar2 DEFAULT NULL);


    -- Packaged procedure start_replicat starts all apply processes
    -- or those associated with a particular staging table owner (if supplied)
    -- Will raise an exception if source or target tables are missing or have
    -- incompatible column types (data dictionaries are re-compared),
    -- or if there are LCRs held in the apply error queue.
    -- Resets apply keys and handlers before starting apply unless default overridden.
    PROCEDURE start_replicat(
        p_staging_owner IN     varchar2 DEFAULT NULL,
        p_refresh_flag 	IN     BOOLEAN  DEFAULT TRUE);


    -- Packaged procedure stop_replicat stops all apply processes
    -- or those associated with a particular staging table owner (if supplied)
    PROCEDURE stop_replicat(
        p_staging_owner IN     varchar2 DEFAULT NULL,
        p_force  	IN     BOOLEAN  DEFAULT FALSE);


    -- Packaged procedure drop_replicat drops all apply processes
    -- or those associated with a particular staging table owner (if supplied)
    PROCEDURE drop_replicat(
        p_staging_owner IN     varchar2 DEFAULT NULL);


END MIS_GG_CTRL_PKG;
/

show errors
