[Unit]
Description=WebLogic managed server Service
After=wls_adminserver.service

[Service]
Type=simple
TimeoutStartSec=300
ExecStart={{ scripts_dir }}/startManagedWebLogic.sh
ExecStartPost={{ scripts_dir }}/waitManagedWebLogic.sh
ExecStop={{ scripts_dir }}/stopManagedWebLogic.sh

[Install]
WantedBy=multi-user.target
