[Unit]
Description=WebLogic Admin Server
After=wls_nodemanager.service

[Service]
Type=simple
TimeoutStartSec=300
ExecStart={{ scripts_dir }}/startWebLogic.sh
ExecStartPost={{ scripts_dir }}/waitWebLogic.sh
ExecStop={{ scripts_dir }}/stopWebLogic.sh

[Install]
WantedBy=multi-user.target
