# Managed by Ansible - onr-arns-dblink

HS_FDS_CONNECT_INFO = {{ onr_arns_odbc_dsn }}
HS_FDS_SHAREABLE_NAME = /usr/lib64/libodbc.so

HS_FDS_TRACE_LEVEL = OFF

HS_LANGUAGE = AMERICAN_AMERICA.AL32UTF8

HS_FDS_SUPPORT_STATISTICS = FALSE