[Unit]
Description={{ rclone_sync_description }}
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=root
Group=root
ExecStart=/usr/local/bin/rclone-sync.sh -m
Nice=10
IOSchedulingClass=best-effort
StandardOutput=journal
StandardError=journal
SyslogIdentifier=rclone-sync
