#
# Config file for collectd(1).
# Please read collectd.conf(5) for a list of options.
# http://collectd.org/
#

##############################################################################
# Global                                                                     #
#----------------------------------------------------------------------------#
# Global settings for the daemon.                                            #
##############################################################################

Hostname    "localhost"
FQDNLookup   true
BaseDir     "/var/lib/collectd"
PluginDir   "/usr/lib64/collectd"
TypesDB     "/usr/share/collectd/types.db" "/usr/share/collectd/types.db.custom"

##############################################################################
# Plugins                                                                    #
##############################################################################

# LoadPlugin logfile
# LoadPlugin cpu
LoadPlugin network
LoadPlugin exec

# Enable this and the LoadPlugin logfile line to get debug output for changes
#<Plugin logfile>
#   LogLevel "info"
#   File "/var/log/collectd.log"
#   Timestamp true
#   PrintSeverity false
#</Plugin>

# Enable this to help debugging as this will appear in CloudWatch as collectd_cpu_value
#<Plugin cpu>
#  ReportByCpu true
#  ReportByState true
#  ValuesPercentage false
#  ReportNumCpu false
#  ReportGuestState false
#  SubtractGuestState true
#</Plugin>

<Plugin network>
    <Server "127.0.0.1" "25826">
        SecurityLevel None
    </Server>
</Plugin>

<Plugin exec>
   Exec "oracle" "/opt/collectd/oracle_health.sh"
</Plugin>

#############################################################################

Include "/etc/collectd.d"
