#
# Config file for collectd(1).
# Please read collectd.conf(5) for a list of options.
# http://collectd.org/
#

##############################################################################
# Global                                                                     #
#----------------------------------------------------------------------------#
# Global settings for the daemon.                                            #
##############################################################################

Hostname    "localhost"
FQDNLookup   true
BaseDir     "/var/lib/collectd"
# PIDFile     "/var/run/collectd.pid"
PluginDir   "/usr/lib64/collectd"
TypesDB     "/usr/share/collectd/types.db"

##############################################################################
# Plugins                                                                    #
##############################################################################

# LoadPlugin logfile 
LoadPlugin network
# LoadPlugin exec
LoadPlugin cpu

#<Plugin logfile>
#   LogLevel debug
#   File "/var/log/collectd.log"
#   Timestamp true
#   PrintSeverity false
#</Plugin>

#<Plugin exec>
#   Exec "oracle:oracle" "/opt/collectd/oracle_health.sh" "arg0" "arg1"
#</Plugin>

<Plugin cpu>
  ReportByCpu true
  ReportByState true
#  ValuesPercentage false
#  ReportNumCpu false
#  ReportGuestState false
#  SubtractGuestState true
</Plugin>

#<Plugin exec>
#	Exec "user:group" "/path/to/exec"
#	NotificationExec "user:group" "/path/to/exec"
#</Plugin>

<Plugin network>
    <Server "127.0.0.1" "25826">
        SecurityLevel None
    </Server>
</Plugin>

#############################################################################

Include "/etc/collectd.d"
