#!/bin/bash

# Helper script to start cwagent independently of ansible for testing etc.

# This script is not used by ansible and must be run with sudo or as a root user.

# If you make changes by putting a new config (amazon-cloudwatch-agent.json) in /opt/aws/amazon-cloudwatch-agent/etc/ and then running this script it will overwrite the existing config and restart the agent.

/opt/aws/amazon-cloudwatch-agent/bin/amazon-cloudwatch-agent-ctl -m ec2 -a stop

/opt/aws/amazon-cloudwatch-agent/bin/amazon-cloudwatch-agent-ctl -a fetch-config -m ec2 -s -c file:"/opt/aws/amazon-cloudwatch-agent/etc/amazon-cloudwatch-agent.json"

{% if collectd_installed.rc == 0 %}
/opt/aws/amazon-cloudwatch-agent/bin/amazon-cloudwatch-agent-ctl -a append-config -m ec2 -s -c file:"{{ amazon_cloudwatch_agent_config_path }}/{{ amazon_cloudwatch_agent_collectd_config_file }}"
{% endif %}

{% for item in template_config_files.results|json_query('[*].item') if template_config_files is defined %}
/opt/aws/amazon-cloudwatch-agent/bin/amazon-cloudwatch-agent-ctl -a append-config -m ec2 -s -c file:"{{ amazon_cloudwatch_agent_config_path }}/{{ item }}.json"
{% endfor %}    

# Once it's been started and the configs loaded using append-config the 'loaded' config exists as /opt/aws/amazon-cloudwatch-agent/etc/amazon-cloudwatch-agent.toml. The 'initial' file used to start the agent is moved to /opt/aws/amazon-cloudwatch-agent/etc/amazon-cloudwatch-agent.d/file_amazon-cloudwatch-agent.json. The contents of this file only reflect the initial json config in the fetch-config step, these are added directly to the toml file via the append-config steps.
