#!/usr/bin/env bash

# Templated in from ansible
HOSTNAME="${HOSTNAME:-localhost}"
INTERVAL="{{ collectd_script_interval }}"
WEBLOGIC_SERVICE_LIST="{{ service_list_weblogic }}"

service_status() {
    local SERVICE="$1"
    if [[ sudo service $SERVICE status | grep -q "running" ]]
    then
        return 0
    else
        return 1
    fi
}

while sleep "$INTERVAL"
do
    for service in ${WEBLOGIC_SERVICE_LIST}
    do
        service_status "$service" 
        status=$?

        service_name=${service//-/_}
        echo "PUTVAL $HOSTNAME/exec-$service_name/bool-$service_name interval=$INTERVAL N:$status"
    done
done

