AGENT_BASE_DIR={{ oem_agent_base }} 
LOGIN_USER=sysman 
PLATFORM="Linux x86-64" 
VERSION={{ OEM_AGENT_VERSION }}
LOGIN_PASSWORD={{ oem_sysman_password }}
AGENT_REGISTRATION_PASSWORD={{ oem_agent_password }}
