set echo on 
spool {{ stage }}/setup_onrsys.log 

create tablespace ONR_DATA;

create profile nart
limit PASSWORD_REUSE_TIME unlimited
PASSWORD_LIFE_TIME  unlimited;

create user ONR_SYSTEM_OWNER  identified by "{{ onr_system_owner_password }}"
default tablespace ONR_DATA 
profile NART;
grant CONNECT, RESOURCE, CREATE SESSION, CREATE VIEW, UNLIMITED TABLESPACE to ONR_SYSTEM_OWNER;

alter user dbsnmp identified by "{{ onr_sys_dbsnmp_password }}" account unlock;
shutdown immediate
startup mount
alter database archivelog ;
alter database open;

spool off 
exit
