RESPONSEFILE_VERSION=2.2.1.0.0
UNIX_GROUP_NAME={{ oracle_install_group }}
INVENTORY_LOCATION={{ oracle_inventory }}
SECURITY_UPDATES_VIA_MYORACLESUPPORT=false
DECLINE_SECURITY_UPDATES=true
INSTALL_UPDATES_SELECTION=skip
ORACLE_MIDDLEWARE_HOME_LOCATION={{ oem_mw_home }}
ORACLE_HOSTNAME={{ oem_domain_hostname }}
AGENT_BASE_DIR={{ oem_agent_base }}
WLS_ADMIN_SERVER_USERNAME={{ weblogic_admin_username }}
WLS_ADMIN_SERVER_PASSWORD={{ weblogic_admin_password }}
WLS_ADMIN_SERVER_CONFIRM_PASSWORD={{ weblogic_admin_password }}
NODE_MANAGER_PASSWORD={{ nodemanager_password }}
NODE_MANAGER_CONFIRM_PASSWORD={{ nodemanager_password }}
ORACLE_INSTANCE_HOME_LOCATION={{ oem_gc_inst }}
CONFIGURE_ORACLE_SOFTWARE_LIBRARY=true
SOFTWARE_LIBRARY_LOCATION={{ oem_sw_lib }}
DATABASE_HOSTNAME={{ oem_domain_hostname }}
LISTENER_PORT=1521
SERVICENAME_OR_SID={{ emrepo_db_name.emrepo_db_name }} 
SYS_PASSWORD={{ db_sys_password }}
SYSMAN_PASSWORD={{ db_sysman_password }}
SYSMAN_CONFIRM_PASSWORD={{ db_sysman_password }}
DEPLOYMENT_SIZE=MEDIUM
AGENT_REGISTRATION_PASSWORD={{ oem_agent_password }}
AGENT_REGISTRATION_CONFIRM_PASSWORD={{ oem_agent_password }}
PLUGIN_SELECTION={}
b_upgrade=false
EM_INSTALL_TYPE=NOSEED
CONFIGURATION_TYPE=LATER
CONFIGURE_SHARED_LOCATION_BIP=false
MANAGEMENT_TABLESPACE_LOCATION="{{ em_db_create_file_dest }}/mgmt01.dbf"
CONFIGURATION_DATA_TABLESPACE_LOCATION="{{ em_db_create_file_dest }}/mgmt_ecm_depot01.dbf"
JVM_DIAGNOSTICS_TABLESPACE_LOCATION="{{ em_db_create_file_dest }}/mgmt_deepdive01.dbf"