#!/bin/bash
# Managed by collectd-textfile-monitoring ansible role
# If manually editing, just kill script and collectd will respawn
# e.g. pkill -u {{ collectd_script_user }} -f {{ collectd_script_path }}/{{ collectd_script_name }}.sh

HOSTNAME="${HOSTNAME:-localhost}"
INTERVAL="${INTERVAL:-{{ collectd_script_interval }}}"

while sleep "$INTERVAL"; do
  now=$(date +%s)
  for file in /opt/textfile_monitoring/*.prom /opt/textfile_monitoring/*.metric /opt/textfile_monitoring/*/*.prom /opt/textfile_monitoring/*/*.metric; do
{% raw %}
    if [[ -e "$file" ]]; then
      IFS=$'\n'
      metrics=($(grep -E "^[[:alnum:][:punct:]]+[[:space:]]+[[:digit:]]+" "$file" | grep -v ^#))
      metric_name=$(dirname $file | sed 's|^/opt/||g' | sed 's|/|_|g')
      unset IFS
      file_last_modified=$(date -r "$file" +%s)
      secs_since_last_modified=$((now - file_last_modified))

      num_metrics=${#metrics[@]}
      for ((i=0; i<num_metrics; i++)); do
        metric=(${metrics[i]})
        echo "PUTVAL $HOSTNAME/${metric_name}/gauge-${metric[0]} interval=$INTERVAL N:${metric[1]}"
        echo "PUTVAL $HOSTNAME/${metric_name}/duration-${metric[0]} interval=$INTERVAL N:${secs_since_last_modified}"
      done
    fi
{% endraw %}
  done
done
