#!/bin/bash
# Managed by collectd-textfile-monitoring ansible role
# If manually editing, just kill script and collectd will respawn
# e.g. pkill -u {{ collectd_script_user }} -f {{ collectd_script_path }}/{{ collectd_script_name }}.sh

HOSTNAME="${HOSTNAME:-localhost}"
INTERVAL="${INTERVAL:-{{ collectd_script_interval }}}"

while sleep "$INTERVAL"; do
  now=$(date +%s)
  for file in {{ collectd_textfile_monitoring_paths }}; do
{% raw %}
    if [[ -e "$file" ]]; then
      IFS=$'\n'
      metrics=($(grep -E "^[[:alnum:]_]+[[:space:]]+[[:digit:]]+" "$file"))
      unset IFS
      file_last_modified=$(date -r "$file" +%s)
      secs_since_last_modified=$((now - file_last_modified))

      num_metrics=${#metrics[@]}
      for ((i=0; i<num_metrics; i++)); do
        metric=(${metrics[i]})
        echo "PUTVAL $HOSTNAME/textfile_monitoring/gauge-${metric[0]} interval=$INTERVAL N:${metric[1]}"
        echo "PUTVAL $HOSTNAME/textfile_monitoring/duration-${metric[0]} interval=$INTERVAL N:${secs_since_last_modified}"
      done
    fi
{% endraw %}
  done
done
