#!/bin/bash
/u01/stage/pasteBinary.sh -javaHome /usr/java/jdk1.7.0_80 -archiveLoc /u01/stage/bi_mw_copy_binary.jar -targetMWHomeLoc /u01/app/oracle/Middleware -invPtrLoc /etc/oraInst.loc -logDirLoc /u01/stage/logs -executeSysPrereqs false
