#!/usr/bin/expect
set PASSWORD [lindex $argv 0]
set FILE [lindex $argv 1]

spawn /u01/app/oracle/Middleware/oracle_common/bin/obfuscatePassword.sh -javahome /usr/java/jdk1.7.0_80
expect "\[Password to obfuscate:\]"
send "$PASSWORD\r"
expect "\[Path of password file to be created:\]"
send "$FILE\r"
expect eof