set echo on 
spool {{ stage }}/setup_bipaud.log 

create tablespace MISSYS_TS;
create tablespace BODIREP_TS;

create profile nart 
limit PASSWORD_REUSE_TIME unlimited 
PASSWORD_LIFE_TIME  unlimited;

create user BIP_SYSTEM_OWNER identified by "{{ bip_system_owner_password }}"
default tablespace MISSYS_TS
profile NART;
grant CONNECT, CREATE PROCEDURE, CREATE TABLE, UNLIMITED TABLESPACE to BIP_SYSTEM_OWNER;

create user BODS_IPS_SYSTEM_OWNER identified by "{{ bods_ips_system_owner_password }}"
default tablespace MISSYS_TS
profile NART;
grant CONNECT, CREATE PROCEDURE, CREATE TABLE, UNLIMITED TABLESPACE to BODS_IPS_SYSTEM_OWNER;

create user BODS_REPO_OWNER identified by "{{ bods_repo_owner_password }}"
default tablespace BODIREP_TS
profile NART;
grant CONNECT, CREATE SEQUENCE, CREATE TABLE, CREATE VIEW, UNLIMITED TABLESPACE to BODS_REPO_OWNER;

spool off 
exit