# see https://github.com/ansible/ansible/blob/stable-2.11/examples/ansible.cfg
[defaults]
nocows = 1
host_key_checking = False
roles_path = ./roles-galaxy:./roles
inventory = ./hosts

# override the default remote_tmp so ansible works even if the 
# user running it doesn't have a home directory
remote_tmp = /tmp
