#!/usr/bin/env bash

# Templated in from ansible
HOSTNAME="${HOSTNAME:-localhost}"
INTERVAL="{{ collectd_script_interval }}"
SERVICE_LIST="{{ service_list_xtag }}"

service_status() {
    local SERVICE="$1"
    systemctl is-active --quiet "$SERVICE"
}

while sleep "$INTERVAL"
do
    for service in ${SERVICE_LIST}
    do
        service_status "$service" 
        status=$?

        service_name=${service//_}
        echo "PUTVAL $HOSTNAME/$service_name/bool-$service_name interval=$INTERVAL N:$status"
    done
done