#!/usr/bin/env bash

# Templated in from ansible
HOSTNAME="${HOSTNAME:-localhost}"
INTERVAL="{{ collectd_script_interval }}"
WEBLOGIC_SERVICE_LIST="{{ service_list_weblogic }}"

service_status_old() {
    local SERVICE="$1"
    weblogic_status=$(sudo service "$SERVICE" status | grep "OK")
    if [[ $weblogic_status ]]
    then
        return 0
    else
        return 1
    fi
}

service_status() {
    sudo service weblogic-all healthcheck
}

while sleep "$INTERVAL"
do
    if grep -q "healthcheck" "/etc/init.d/weblogic-all"
    then
        service_status
        status=$?
        echo "PUTVAL $HOSTNAME/exec-weblogic_healthcheck/bool interval=$INTERVAL N:$status"
    else
        for service in $WEBLOGIC_SERVICE_LIST
        do
            service_status_old "$service"
            status=$?
            service_name=${service//-/_}
            echo "PUTVAL $HOSTNAME/exec-$service_name/bool-$service_name interval=$INTERVAL N:$status"
        done
    fi
done

