---
# create oracle_goldengate_sql_dir directory if it doesn't exist
- name: Ensure GoldenGate SQL directory exists
  ansible.builtin.file:
    path: "{{ oracle_goldengate_sql_dir }}"
    state: directory
    owner: "{{ oracle_goldengate_owner }}"
    group: "{{ oracle_goldengate_osgroup }}"
    mode: "0755"

- name: Deploy Auditref support packages
  when:
    - oracle_goldengate_deploy_auditref is defined and oracle_goldengate_deploy_auditref
  become: true
  become_user: "{{ oracle_goldengate_owner }}"
  block:
    - name: Set facts for Auditref stream used in packages
      ansible.builtin.set_fact:
        oracle_goldengate_sql_owner: "{{ oracle_goldengate_group.auditref.schema_owner }}"
        oracle_goldengate_group_name: "auditref"
        oracle_goldengate_group_extract_name: "{{ oracle_goldengate_group.auditref.extract_name }}"
        oracle_goldengate_group_replicat_name: "{{ oracle_goldengate_group.auditref.replicat_name }}"
        oracle_goldengate_group_trail_prefix: "{{ oracle_goldengate_group.auditref.trail_prefix }}"
        oracle_goldengate_group_target_schema: "{{ oracle_goldengate_group.auditref.target_schema }}"
        oracle_goldengate_group_dummy_target_schema: "{{ oracle_goldengate_group.auditref.dummy_target_schema }}"
        # Set the capture and apply process names for the Auditref stream based on the logical stream name defined in defaults/main.yml, this is used in the SQL templates to create the correct database objects for the stream
        oracle_goldengate_capture_process_name: "OGG$CAP_{{ oracle_goldengate_group.auditref.extract_name }}"
        oracle_goldengate_apply_process_name: "OGG$APPLY_{{ oracle_goldengate_group.auditref.replicat_name }}"
        
    - name: Ensure Auditref SQL directory exists
      ansible.builtin.file:
        path: "{{ oracle_goldengate_sql_dir }}/auditref"
        state: directory
        owner: "{{ oracle_goldengate_owner }}"
        group: "{{ oracle_goldengate_osgroup }}"
        mode: "0755"

    - name: Deploy MIS support packages (Auditref stream uses the same support packages as MIS stream)
      ansible.builtin.template:
        src: "{{ item }}"
        dest: "{{ oracle_goldengate_sql_dir }}/auditref/{{ item | basename | regex_replace('\\.j2$', '') }}"
        owner: "{{ oracle_goldengate_owner }}"
        group: "{{ oracle_goldengate_osgroup }}"
        mode: "0644"
      loop: "{{ lookup('ansible.builtin.fileglob', role_path ~ '/templates/sql/mis/*.j2', wantlist=True) }}"

    - name: Run Auditref support package install
      ansible.builtin.shell: |
        . ~/.bash_profile
        export ORACLE_SID={{ oracle_goldengate_group.auditref.tns_alias }}
        export ORACLE_HOME={{ oracle_goldengate_group.auditref.oracle_home }}
        export PATH=${ORACLE_HOME}/bin:$PATH
        cd {{ oracle_goldengate_sql_dir }}/auditref
        sqlplus -s / as sysdba @install_mis_packages.sql
      args:
        executable: /bin/bash
      register: auditref_config_output
      failed_when: auditref_config_output.rc != 0

    - name: Show output of Auditref package install in logs
      ansible.builtin.debug:
        msg: "{{ item }}"
      loop: "{{ ['Auditref package install output:'] + (auditref_config_output.stdout_lines | default([]) | map('trim') | select('truthy') | list) }}"
      when: "'ORA-' in auditref_config_output.stdout or 'compilation errors' in auditref_config_output.stdout"

    - name: Fail if ORA errors found in output of Auditref package install
      ansible.builtin.fail:
        msg: "Errors found in output of Auditref package install: {{ auditref_config_output.stdout }}"
      when: "'ORA-' in auditref_config_output.stdout or 'compilation errors' in auditref_config_output.stdout"

