- name: Get Ora version
  import_tasks: get_ora_version.yml

- name: Apply GoldenGate software patches
  when: oracle_goldengate_software_patches[response_file_version] is defined
  block:
    - name: Download latest Oracle OPatch utility from S3
      amazon.aws.aws_s3:
        bucket: "{{ artefacts_s3_bucket_name }}"
        object: "{{ artefacts_s3_bucket_path }}/{{ oracle_opatch_software }}"
        dest: "{{ oracle_goldengate_software_dir }}/{{ oracle_opatch_software }}"
        mode: get
        overwrite: latest

    - name: Unzip OPatch utility
      ansible.builtin.unarchive:
        src: "{{ oracle_goldengate_software_dir }}/{{ oracle_opatch_software }}"
        dest: "{{ oracle_goldengate_home }}"
        owner: "{{ oracle_goldengate_owner }}"
        group: "{{ oracle_goldengate_osgroup }}"
        remote_src: yes

    - name: Run OPatch to check the version
      ansible.builtin.shell: |
        export ORACLE_HOME="{{ oracle_goldengate_home }}"
        export PATH="{{ oracle_goldengate_home }}/OPatch:${PATH}"
        opatch version
      become: yes
      become_user: "{{ oracle_goldengate_owner }}"
      args:
        executable: /bin/bash
      register: opatch_version_output
      failed_when: opatch_version_output.rc != 0
      changed_when: false

    - name: Show OPatch version in logs
      ansible.builtin.debug:
        msg: "OPatch version output: {{ opatch_version_output.stdout }}"

    - name: Download GoldenGate software patches from S3
      when: oracle_goldengate_software_patches[response_file_version] is defined
      amazon.aws.aws_s3:
        bucket: "{{ artefacts_s3_bucket_name }}"
        object: "{{ artefacts_s3_bucket_path }}/{{ item }}"
        dest: "{{ oracle_goldengate_software_dir }}/{{ item }}"
        mode: get
        overwrite: latest
      loop: "{{ oracle_goldengate_software_patches[response_file_version] }}"

    - name: Unzip GoldenGate software patches
      ansible.builtin.unarchive:
        src: "{{ oracle_goldengate_software_dir }}/{{ item }}"
        dest: "{{ oracle_goldengate_software_dir }}"
        owner: "{{ oracle_goldengate_owner }}"
        group: "{{ oracle_goldengate_osgroup }}"
        remote_src: yes
      loop: "{{ oracle_goldengate_software_patches[response_file_version] }}"
      register: patch_unarchive_output
      failed_when: patch_unarchive_output.failed
      no_log: true

    - name: Find extracted OPatch patch directories
      ansible.builtin.find:
        paths: "{{ oracle_goldengate_software_dir }}"
        recurse: yes
        file_type: file
        patterns: "actions.xml"
      register: patch_actions_files

    - name: Set extracted patch directories fact
      ansible.builtin.set_fact:
        extracted_patch_dirs: >-
          {{
            patch_actions_files.files
            | map(attribute='path')
            | map('dirname')
            | map('dirname')
            | map('dirname')
            | list
            | unique
          }}

    - name: Fail if no extracted patch directories found
      ansible.builtin.fail:
        msg: "No extracted patch directories found under {{ oracle_goldengate_software_dir }} (expected to find */etc/config/actions.xml)"
      when: extracted_patch_dirs | length == 0

    - name: Show extracted patch directories in logs
      ansible.builtin.debug:
        msg: "Extracted patch directories: {{ extracted_patch_dirs }}"

    - name: Install GoldenGate software patches
      ansible.builtin.command: >-
        opatch apply -silent -oh {{ oracle_goldengate_home }}
      become: yes
      become_user: "{{ oracle_goldengate_owner }}"
      environment:
        ORACLE_HOME: "{{ oracle_goldengate_home }}"
        PATH: "{{ oracle_goldengate_home }}/OPatch:{{ ansible_env.PATH }}"
      args:
        chdir: "{{ item }}"
      loop: "{{ extracted_patch_dirs }}"
      register: patch_install_output
      failed_when: patch_install_output.rc != 0 and "OPatch succeeded" not in patch_install_output.stdout

    - name: Show patch installation output in logs
      ansible.builtin.debug:
        msg: "Patch installation output: {{ patch_install_output.results | map(attribute='stdout') | list }}"

    - name: Clean up patch files
      ansible.builtin.file:    
        path: "{{ item if (item is string and item.startswith('/')) else (oracle_goldengate_software_dir ~ '/' ~ item) }}"
        state: absent
      loop: >-
        {{
          (oracle_goldengate_software_patches[response_file_version] | default([]))
          + (extracted_patch_dirs | default([]))
          + [oracle_opatch_software]
        }}