---
# Register and manage AUDITDATA and AUDITREF Replicat processes

- name: Add AUDITDATA Replicat process
  ansible.builtin.shell: |
    export ORACLE_SID={{ oracle_goldengate_local_db_sid }}
    export ORAENV_ASK=NO
    . oraenv > /dev/null 2>&1
    ./ggsci << EOF
    dblogin alias {{ oracle_goldengate_group.auditdata.credential_alias }}
    ADD REPLICAT {{ oracle_goldengate_group.auditdata.replicat_name }}, INTEGRATED, EXTTRAIL {{ oracle_goldengate_trail_dir }}/{{ oracle_goldengate_group.auditdata.trail_prefix }}
    EXIT
    EOF
  args:
    chdir: "{{ oracle_goldengate_home }}"
  become: yes
  become_user: "{{ oracle_goldengate_owner }}"
  register: add_auditdata_replicat
  failed_when: add_auditdata_replicat.rc != 0 and "already exists" not in add_auditdata_replicat.stderr
  changed_when: add_auditdata_replicat.rc == 0 and "already exists" not in add_auditdata_replicat.stderr
  when: oracle_goldengate_deploy_auditdata

- name: Add AUDITREF Replicat process
  ansible.builtin.shell: |
    export ORACLE_SID={{ oracle_goldengate_local_db_sid }}
    export ORAENV_ASK=NO
    . oraenv > /dev/null 2>&1
    ./ggsci << EOF
    dblogin alias {{ oracle_goldengate_group.auditref.credential_alias }}
    ADD REPLICAT {{ oracle_goldengate_group.auditref.replicat_name }}, INTEGRATED, EXTTRAIL {{ oracle_goldengate_trail_dir }}/{{ oracle_goldengate_group.auditref.trail_prefix }}
    EXIT
    EOF
  args:
    chdir: "{{ oracle_goldengate_home }}"
  become: yes
  become_user: "{{ oracle_goldengate_owner }}"
  register: add_auditref_replicat
  failed_when: add_auditref_replicat.rc != 0 and "already exists" not in add_auditref_replicat.stderr
  changed_when: add_auditref_replicat.rc == 0 and "already exists" not in add_auditref_replicat.stderr
  when: oracle_goldengate_deploy_auditref
