---
# Register and manage MIS Replicat process

- name: Add MIS Replicat process
  ansible.builtin.shell: |
    export ORACLE_SID={{ oracle_goldengate_local_db_sid }}
    export ORAENV_ASK=NO
    . oraenv > /dev/null 2>&1
    ./ggsci << EOF
    dblogin alias {{ oracle_goldengate_group.mis.credential_alias }}
    ADD REPLICAT {{ oracle_goldengate_group.mis.replicat_name }}, INTEGRATED, EXTTRAIL {{ oracle_goldengate_trail_dir }}/{{ oracle_goldengate_group.mis.trail_prefix }}
    EXIT
    EOF
  args:
    chdir: "{{ oracle_goldengate_home }}"
  become: yes
  become_user: "{{ oracle_goldengate_owner }}"
  register: add_mis_replicat
  failed_when: add_mis_replicat.rc != 0 and "already exists" not in add_mis_replicat.stderr
  changed_when: add_mis_replicat.rc == 0 and "already exists" not in add_mis_replicat.stderr
  when: oracle_goldengate_deploy_mis
