#!/usr/bin/env bash

# Templated in from ansible
HOSTNAME="${HOSTNAME:-localhost}"
INTERVAL={{ collectd_script_interval }}
timeout=1
targets="{{ fixngo_connection_targets_dict }}" # just to be able to see the values being used

{% for target in fixngo_connection_targets_dict -%}
    
    function{{ loop.index }}() {
        connection=$(ncat -vzw "$timeout" {{ target.ip }} {{ target.port }} 2>&1)
        if [[ "${connection}" == *"Connected"* ]]
        then
            return 0
        else
            return 1 # Connection failed
        fi
    }

{% endfor %}

while sleep "$INTERVAL"
do

    {% for target in fixngo_connection_targets_dict %}
        function{{ loop.index }}
        connection{{ loop.index }}=$?
    {% endfor %}

    all_connection_checks_failed=true

    connections=({% for target in fixngo_connection_targets_dict %} connection{{ loop.index }} {% endfor %})

    for connection in "${connections[@]}"; do
        # if any connection check succeeds, then we're connected, so break and set all_connection_checks_failed to false
        if [[ $connection -ne 1 ]]
        then
            all_connection_checks_failed=false
            break
        fi
    done

    if [[ "$all_connection_checks_failed" = true ]] ; then
        echo "PUTVAL $HOSTNAME/exec-fixngo_connected/bool-fixngo_connected interval=$INTERVAL N:1"
    else
        echo "PUTVAL $HOSTNAME/exec-fixngo_connected/bool-fixngo_connected interval=$INTERVAL N:0"
    fi
done
