#!/bin/bash
. ~/.bash_profile

sqlplus -s  {{ db_username }}/{{ db_password }}@{{DB_NAME}} << EOF
SET LINES 1000
SET PAGES 0
SET FEEDBACK ON
SET HEADING OFF
WHENEVER SQLERROR EXIT FAILURE
SELECT COUNT(1) FROM DB_PATCHES WHERE PROFILE_VALUE='{{ NOMIS_RLEASE_NAME }}';
EXIT
EOF