#!/bin/bash
files=$(ls /home/oracle/admin/rman_scripts/status/status.*)
now=$(date +%s)
for file in $files; do
  IFS=$','
  backup=($(cat $file))
  unset IFSs
  dbname=${backup[0]}
  timestamp=${backup[1]}
  status=${backup[2]}
  timediff=$((now - timestamp))
  echo "last backup taken $(date -d@${timediff} +%H:%M:%S) ago"
  if ((timediff > 93600)); then
    echo "rman-backup-result $dbname -1"
  else
    echo "rman-backup-result $dbname $status"
  fi
done
