---
- name: add startup and shutdown scripts
  template:
    src: "{{ item }}.j2"
    dest: "/usr/local/bin/{{ item }}"
    owner: "{{ ords_install_user }}"
    group: "{{ ords_install_group }}"
    mode: 0755
  loop:
    - tomcat_startup_service.sh
    - tomcat_shutdown_service.sh

- name: systemd unit file for tomcat
  template:
    src: "{{ item }}.j2"
    dest: "/etc/systemd/system/{{ item }}"
  loop:
    - tomcat.service
    - tomcat-daily-restart.service
    - tomcat-daily-restart.timer

- name: enable tomcat
  systemd:
    name: "tomcat"
    daemon_reload: yes
    enabled: yes

- name: enable tomcat
  systemd:
    name: "tomcat"
    state: "started"

- name: enable tomcat daily restart
  systemd:
    name: tomcat-daily-restart.timer
    enabled: yes
