---
- name: Run script to compile all forms
  become_user: oracle
  ansible.builtin.command:
    cmd: bash /u01/tag/utils/scripts/compile_all_forms.sh u={{ weblogic_db_username }} p={{ weblogic_db_password }} t={{ tnsnames_qa11g_service_name }}
  args:
    chdir: /u01/tag/FormsSources/

- name: Find and remove log/txt files
  ansible.builtin.find:
    paths: "{{ forms_compilation_filepath }}"
    patterns: "*.log,*.txt"
    recurse: no
  register: forms_sources_files_to_remove

- name: Remove log/txt files
  ansible.builtin.file:
    path: "{{ item.path }}"
    state: absent
  loop: "{{ forms_sources_files_to_remove.files }}"
  when: forms_sources_files_to_remove.matched > 0
