---
- name: Run script to compile all forms
  become_user: oracle
  ansible.builtin.shell: |
    source ~/.bash_profile
    cd /u01/tag/FormsSources/
    set -o pipefail
    bash compile_all_forms.sh u={{ weblogic_db_username }} p={{ weblogic_db_password }} s={{ start_index | default(0) }} t={{ tnsnames_qa19c_service_name }} | tee /tmp/forms_compilation.log
  args:
    executable: /bin/bash

- name: Find and remove log/txt files
  ansible.builtin.find:
    paths: "{{ forms_compilation_filepath }}"
    patterns: "*.log,*.txt"
    recurse: no
  register: forms_sources_files_to_remove

- name: Remove log/txt files
  ansible.builtin.file:
    path: "{{ item.path }}"
    state: absent
  loop: "{{ forms_sources_files_to_remove.files }}"
  when: forms_sources_files_to_remove.matched > 0

- name: Remove forms compilation log file
  ansible.builtin.file:
    path: /tmp/forms_compilation.log
    state: absent

- name: Set timestamp
  set_fact:
    timestamp: "{{ ansible_date_time.iso8601_basic }}"

- name: Rename existing directories with timestamp
  command: mv /u01/tag/{{ item }} /u01/tag/{{ timestamp }}_{{ item }}
  args:
    removes: "/u01/tag/{{ item }}"
  loop:
    - FormsObjects
    - forms

- name: Re-create FormsObjects/forms directories
  file:
    path: "/u01/tag/{{ item }}"
    state: directory
    owner: oracle
    group: oinstall
    mode: '0755'
  loop:
    - FormsObjects
    - forms

- name: Move compiled form files to FormsObjects
  shell: mv /u01/tag/FormsSources/*.{mmx,plx,fmx} /u01/tag/FormsObjects/
  args:
    warn: false
  failed_when: false

- name: Ensure ownership of moved form files
  file:
    path: /u01/tag/FormsObjects
    owner: oracle
    group: oinstall
    recurse: true

- name: Optionally copy FormsObjects files to forms
  copy:
    src: /u01/tag/FormsObjects/
    dest: /u01/tag/forms/
    owner: oracle
    group: oinstall
    mode: preserve
    remote_src: true
  when: copy_forms_objects | default(true) | bool
