---
- name: Get secretsmanager passwords
  import_role:
    name: secretsmanager-passwords
  vars:
    secretsmanager_passwords: "{{ weblogic_secretsmanager_passwords }}"

- name: Set secretsmanager password facts
  set_fact:
    weblogic_admin_password: "{{ secretsmanager_passwords_dict['weblogic'].passwords[weblogic_admin_username] }}"
    weblogic_db_password: "{{ secretsmanager_passwords_dict['db'].passwords[weblogic_db_username] }}"
    weblogic_db_repo_password: "{{ secretsmanager_passwords_dict['db_repo'].passwords[weblogic_db_repo_username] }}"
    weblogic_db_repo_schema_password: "{{ secretsmanager_passwords_dict['db_repo'].passwords['wls_schemas'] }}"
