---
- name: Rhel8
  block:
    - import_tasks: get-facts.yml
      tags:
        - ec2provision
        - weblogic_get_facts
        - weblogic_setup_oracle_user
        - weblogic_create_db_repo
        - weblogic_install_domain

    - import_tasks: setup-oracle-user.yml
      tags:
        - ec2provision
        - weblogic_setup_oracle_user

    - import_tasks: install-rpms.yml
      tags:
        - ec2provision
        - weblogic_install_jdk

    - import_tasks: update-sysctl.yml
      tags:
        - ec2provision
        - weblogic_update_sysctl

    - import_tasks: install-server.yml
      tags:
        - ec2provision
        - weblogic_install_server

    - import_tasks: install-forms.yml
      tags:
        - ec2provision
        - weblogic_install_forms

    # only needs to be done once per build
    - import_tasks: create-db-repo.yml
      tags:
        - weblogic_create_db_repo
        - never
      when: weblogic_db_repo_prefix is defined

    - import_tasks: install-domain.yml
      tags:
        - ec2provision
        - weblogic_install_domain
      when: weblogic_domain_template_filename != 'none'

    - import_tasks: packages.yml
      tags:
        - amibuild
        - ec2provision
        - weblogic_packages

    - import_tasks: extract-s3-zip-files.yml
      tags:
        - ec2provision
        - weblogic_extract_s3_zip_files

    - name: Copy report server config
      ansible.builtin.template:
        src: "{{ item.src }}"
        dest: "{{ item.dest }}"
        owner: "{{ item.owner | default('oracle') }}"
        group: "{{ item.group | default('oinstall') }}"
        mode: "{{ item.mode | default('0640') }}"
      loop: "{{ oracle_template_file_config }}"
      tags:
        - ec2provision
        - weblogic_copy_template_files

    - import_tasks: review-permissions.yml
      tags:
        - ec2provision
        - weblogic_review_permissions

    - import_tasks: moj-admin-scripts.yml
      tags:
        - ec2provision
        - weblogic_moj_admin_scripts

    - name: Copy files into relevant locations
      ansible.builtin.copy:
        src: "{{ item.src }}"
        dest: "{{ item.dest }}"
      loop: "{{ oracle_file_config }}"
      tags:
        - ec2provision
        - weblogic_copy_file_to_location

    - import_tasks: forms-compilation.yml
      vars:
        forms_compilation_filepath: /u01/tag/FormsSources
      tags:
        - ec2provision
        - weblogic_forms_compilation

    - name: Render the template web app container config
      set_fact:
        rendered_web_app_container_template: "{{ lookup('template', '12/u01/app/oracle/Middleware/user_projects/domains/nomis/config/template_config/web_app_container_config.xml') }}"
      tags:
        - ec2provision
        - weblogic_render_web_app_container_config

    - name: Update config.xml to enable web plugin
      blockinfile:
        path: /u01/app/oracle/Middleware/user_projects/domains/nomis/config/config.xml
        insertafter: '</migratable-target>'
        content: "{{ rendered_web_app_container_template }}"
        marker: "<!-- WEB APP CONTAINER CONFIG -->"
      tags:
        - ec2provision
        - weblogic_enable_web_plugin

    - import_tasks: enable-weblogic-services.yml
      tags:
        - ec2provision
        - weblogic_enable_services

    - import_tasks: configure-report-server.yml
      vars:
        - filename: /u01/app/oracle/Middleware/user_projects/domains/nomis/config/fmwconfig/servers/WLS_FORMS/applications/formsapp_12.2.1/config/tag.env
          machine_name: AdminServerMachine
          server_name: rep_server1
          tools_instance_name: reptools1
          rwserver_conf_filenames:
            - /u01/app/oracle/Middleware/user_projects/domains/nomis/config/fmwconfig/components/ReportsServerComponent/{{ server_name }}/rwserver.conf
            - /u01/app/oracle/Middleware/user_projects/domains/nomis/config/fmwconfig/servers/WLS_REPORTS/applications/reports_12.2.1/configuration/rwserver.conf
          report_server_configuration_filenames:
            - src: 12/u01/reports_server_configuration/rwservlet.properties
              dest: /u01/app/oracle/Middleware/user_projects/domains/nomis/config/fmwconfig/components/ReportsServerComponent/{{ server_name }}/rwservlet.properties
            - src: 12/u01/reports_server_configuration/rwservlet.properties
              dest: /u01/app/oracle/Middleware/user_projects/domains/nomis/config/fmwconfig/servers/WLS_REPORTS/applications/reports_12.2.1/configuration/rwservlet.properties
            - src: 12/u01/reports_server_configuration/reports_ohs.conf
              dest: /u01/app/oracle/Middleware/user_projects/domains/nomis/config/fmwconfig/components/OHS/ohs1/moduleconf/reports_ohs.conf
            - src: 12/u01/reports_server_configuration/reports_ohs.conf
              dest: /u01/app/oracle/Middleware/user_projects/domains/nomis/config/fmwconfig/components/OHS/instances/ohs1/moduleconf/reports_ohs.conf
      tags:
        - ec2provision
        - weblogic_configure_reports_server

    - name: Ensure ListenAddress is empty in nodemanager.properties
      ansible.builtin.lineinfile:
        path: /u01/app/oracle/Middleware/user_projects/domains/nomis/nodemanager/nodemanager.properties
        regexp: '^ListenAddress=.*'
        line: 'ListenAddress='
        backrefs: false
      tags:
        - ec2provision
        - weblogic_nodemanager_properties_update

    - import_tasks: copy-managed-server-files-tgz.yml
      tags:
        - ec2provision
        - weblogic_copy_managed_server_files
        - weblogic_copy_managed_server_files_tgz

    - import_tasks: configure-tagsar.yml
      tags:
        - ec2provision
        - weblogic_configure_tagsar

    - import_tasks: enable-weblogic-services.yml
      vars:
        service_state: restarted
        services_to_manage:
          - weblogic-node-manager
      tags:
        - ec2provision
        - weblogic_restart_nodemanager

    - include_tasks:
        file: create-managed-app.yml
        apply:
          tags:
            - ec2provision
            - ec2patch
            - weblogic_create_managed_app
      tags:
        - ec2provision
        - ec2patch
        - weblogic_create_managed_app
      loop_control:
        loop_var: weblogic_managed_app
      loop:
#        - WLS_AUTOLOGOFF
        - WLS_TAGSAR
        - WLS_HOTPAGE

    - import_tasks: logging.yml
      tags:
        - ec2provision
        - weblogic_logrotate

    - import_tasks: enable-weblogic-services.yml
      vars:
        service_state: restarted
      tags:
        - ec2provision
        - weblogic_restart_services

    - name: "Restart managed apps"
      ansible.builtin.service:
        name: "{{ weblogic_managed_app }}"
        state: restarted
      async: 1200
      poll: 20
      tags:
        - ec2provision
        - weblogic_restart_managed_apps
      loop_control:
        loop_var: weblogic_managed_app
      loop:
        #        - WLS_AUTOLOGOFF
        - WLS_TAGSAR
        - WLS_HOTPAGE

    # TODO: Revisit Node Manager killling reports server on restart
    - import_tasks: start-report-server.yml
      vars:
          server_name: rep_server1
      tags:
        - ec2provision
        - weblogic_start_reports_server

  when: ansible_distribution in ['RedHat', 'OracleLinux'] and ansible_distribution_major_version == "8"
