- name: Generate credentials files
  become_user: oracle
  command: bash /home/oracle/admin/scripts/createCredentialsFiles.sh

- name: Insert WLST nmConnect block for start/stop scripts
  vars:
    sh_indent: "\t"
    domain_name: "nomis"
    nm_port: 5556
    nm_host: "localhost"
    nm_type: "ssl"
  ansible.builtin.blockinfile:
    path: "{{ item }}"
    insertbefore: '^\s*echo "  (start|stop)ComponentInternal'
    marker: "# {mark} ANSIBLE WLST NM CONNECT"
    block: |
      {{ sh_indent }}echo "  nmConnect(" >> "${PY_LOC}"
      {{ sh_indent }}echo "    userConfigFile='/u01/tmp/wlst.userconfig'," >> "${PY_LOC}"
      {{ sh_indent }}echo "    userKeyFile='/u01/tmp/wlst.userkey'," >> "${PY_LOC}"
      {{ sh_indent }}echo "    host='{{ nm_host }}'," >> "${PY_LOC}"
      {{ sh_indent }}echo "    port={{ nm_port }}," >> "${PY_LOC}"
      {{ sh_indent }}echo "    domainName='{{ domain_name }}'," >> "${PY_LOC}"
      {{ sh_indent }}echo "    nmType='{{ nm_type }}'" >> "${PY_LOC}"
      {{ sh_indent }}echo "  )" >> "${PY_LOC}"
  loop:
    - /u01/app/oracle/Middleware/user_projects/domains/nomis/bin/startComponent.sh
    - /u01/app/oracle/Middleware/user_projects/domains/nomis/bin/stopComponent.sh

- name: Start report server
  ansible.builtin.shell: /u01/app/oracle/Middleware/user_projects/domains/nomis/bin/startComponent.sh {{ server_name }}
  become: yes
  become_user: oracle
  args:
    executable: /bin/bash

- name: Remove WLST NM connect block from start/stop scripts
  ansible.builtin.blockinfile:
    path: "{{ item }}"
    marker: "# {mark} ANSIBLE WLST NM CONNECT"
    state: absent
  loop:
    - /u01/app/oracle/Middleware/user_projects/domains/nomis/bin/startComponent.sh
    - /u01/app/oracle/Middleware/user_projects/domains/nomis/bin/stopComponent.sh

- name: Remove WLST userConfig and userKey files
  file:
    path: "{{ item }}"
    state: absent
  loop:
    - /u01/tmp/wlst.userconfig
    - /u01/tmp/wlst.userkey
