[Unit]
Description=weblogic-node-manager
After=network-online.target

[Service]
ExecStart=/home/oracle/admin/scripts/startNodeManager.sh
ExecStop=/u01/app/oracle/Middleware/user_projects/domains/nomis/bin/stopNodeManager.sh
Group=oinstall
NotifyAccess=all
TasksMax=infinity
Type=notify
User=oracle

[Install]
WantedBy=multi-user.target
