[Unit]
Description=WLS_FORMS
After=weblogic-server.service

[Service]
ExecStart=/home/oracle/admin/scripts/startManagedWebLogic.sh WLS_FORMS
ExecStop=/home/oracle/admin/scripts/stopManagedWebLogic.sh WLS_FORMS
Group=oinstall
RemainAfterExit=yes
TasksMax=infinity
TimeoutStartSec=180
Type=oneshot
User=oracle

[Install]
WantedBy=multi-user.target
