scripts:
{% for sid in oracle_monitoring_list %}
{% set sid_truncate_length = ((sid|length) - 2) %}
{% set sid_truncated = sid|truncate(sid_truncate_length, True, '') -%}
#{{ sid|length }} / {{ sid_truncated }} / {{ sid_truncate_length }}
  - name: oracle_health_check_{{sid_truncated}}
    script: sudo -i -u oracle /opt/script-exporter/oracle-health-{{sid}}.sh
{% endfor %}
{% if fixngo_connection_target is defined %}
  - name: fixngo_connection
    script: sudo -i -u oracle /opt/script-exporter/fixngo-connection.sh
{% endif %}
