---
- name: Get Current AWR Retention
  script: get_awr_retention.sh
  register: get_awr_retention
  changed_when: false

- name: Set AWR Retention if it is Not As Expected
  script: set_awr_retention.sh {{ awr_retention_days }}
  when:
    - awr_retention_days is defined
    - ( get_awr_retention.stdout | int ) < ( awr_retention_days | int )
