<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Prison-NOMIS Reporting - Unsupported Browser</title>
    <link rel="shortcut icon" type="image/x-icon" href="InfoView.ico" />
    <link rel="stylesheet" href="browsercheck.css">
</head>
<body>
    <div class="BILP-launchpadbackground">
        <div class="divCenter">
            Prison-NOMIS Reporting cannot load in Internet Explorer 8 as it is an unsupported browser.<br />MOJ Citrix Cloud Desktop within Quantum has a later version.
       </div>
    </div>
</body>
</html>